.sep-page {
    .sep-filters {
        background-color: @gray-lighter;
        border: 0;
        margin: 30px 0 15px;
        padding: 35px 30px 0;

        .form-control {
            .border-radius(0);
            font-size: @font-size-large;
            height: 40px;
            margin-bottom: 35px;
        }
        select {
            -moz-appearance: inherit;
            -webkit-appearance: inherit;
            background: @white url("../images/select-arrow.png") no-repeat center right 10px;
        }
    }
}