.sjb-page {
    .pagination {
        .border-radius(0);
        float: left;
        margin: 15px 0 30px;
        width: 100%;
        li {
            a {
                border-color: @gray-light;
                .border-radius(0);
                color: @gray-dark;
                font-weight: 300;
                margin: 0 5px;
                padding: 7px 0px;
                text-align: center;
                width: 36px;
                @media (max-width: @screen-xs-max) {
                    margin: 0 3px;
                    text-align: center;
                }
                &:hover {
                    color: @white;
                    background-color: @brand-primary;
                    border-color: @brand-primary;
                }
            }
            &:first-child {
                a {
                    margin-left: 0;
                }
            }
            &:last-child {
                a {
                    margin-right: 0;
                }
            }
        }
    }
}