.sep-page {
    font-family: @font-family-sans-serif;
    a{
        border: none !important;
        box-shadow: none !important;
        text-decoration: none !important;
    }
    
    .sep-calendar {
        margin: (@padding-base-vertical + 15) 0 0; 
        overflow:hidden;

        .search {
            margin-bottom: 30px;
            float: left;
            width: 100%;
            position: relative;
            input{
                width: 100%;

            }
            button{
                width: 50px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: @brand-primary;
                color: #fff;
                border: none;
                padding: 15px 5px;
            }
        }
        .simple-event-calendar {
            border: 1px solid #ececec;
            float: left;
            width: 100%;
        }
        .hidden {
            display: none;
        }
        .eventCalendar-wrap { 
            position: relative; 
            overflow: hidden;
            box-shadow: none;
            border-radius: 0;
            color: #333;
            float: left;
            width: 100%;

            .arrow { 
                position: absolute; 
                z-index: 5; 
                top: 3px;
                border: 1px solid #fff;
                border-radius: 100%;
                color: #fff;
                line-height: 28px;
                height: 16px;
                width: 16px;
                line-height: 16px;
                text-decoration: none;
                top: 15px;
                text-align: center;
                &:hover {
                    color: #fff;
                    opacity:0.7;
                }
                &:focus {
                    color: #fff;
                }
                span {
                    height: 0;
                    width: 0;
                    line-height: 0;
                    position: relative;
                    float: left;
                    text-indent: -5000px;
                }
                &.prev{
                    span {
                        position: relative;
                        display: block;
                        &:before{
                            content: "\f104";
                            font-family: FontAwesome;
                            left:-5px;
                            position:absolute;
                            top:0;
                            color: #000
                        }
                    }

                }

            }
            .prev {
                left: 10px;
                background: url(../images/left-arrow.jpg) no-repeat center center;
                
            }
            .next {
                right: 10px;
                background: url(../images/right-arrow.jpg) no-repeat center center;
                
            }
            .eventsCalendar-slider {
                height: 80px;

                .eventsCalendar-monthWrap{
                    border-radius: 0;
                    top: 0;
                    left: 0;
                    .eventsCalendar-currentTitle {
                        line-height: 25px;
                        padding: 10px 0;
                        width: 100%;
                        text-align: center;
                        .monthTitle {
                            font-size: 22px;
                            font-family: 'Roboto',sans-serif;
                            text-transform: uppercase;
                            float: none;
                            text-decoration: none;
                            padding: 0 10px;
                            box-shadow: none;
                        }
                    }
                    &.currentMonth{
                        border-bottom: 1px solid #ececec;
                        float: left;
                        width: 100%;
                        z-index: 1;
                    }
                    .eventsCalendar-daysList{
                        display: table;
                        width: 100%;
                        zoom: 1;
                        padding: 0;
                        width: 100%;
                        .eventsCalendar-day-header {
                            border-bottom: 1px solid #f3f3f3;
                            color: #fff;
                            background-color: @brand-primary;
                            font-family: 'Roboto',sans-serif;
                            font-size: 16px;
                            text-align: center;
                            text-transform: uppercase;
                            padding: 6px 0;
                        }
                        .eventsCalendar-day{
                            a  {
                                color: #424242;
                                font-size: 16px;
                                text-decoration: none;
                                border: 0;
                                box-shadow: none;
                                margin: 10px 0;
                            }    
                            li{
                                &.current{
                                    a {
                                        color: #fff;
                                    }
                                }
                                .eventsCalendar-day{
                                    &.dayWithEvents {
                                        a{
                                            &:hover {
                                                background-color: #424242;
                                            }
                                        }
                                    }
                                }
                                &.dayWithEvents {
                                    a {
                                        color: #fff;
                                        background: #fe4918;
                                        font-weight: 700;
                                        position: relative;
                                        text-decoration: none;
                                    }
                                }
                                &.today {
                                    background-color: @brand-primary;
                                    a {
                                        color: #fff;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }

                        &:before{
                            content: "";
                            display: table;
                        }
                        &:after{
                            content: "";
                            display: table;
                            clear: both;
                        }
                        &.showAsWeek {
                            display: block;
                            margin: 0;
                            width: auto;
                            border-radius: 0;

                            .eventsCalendar-day{
                                border-left: solid 1px #ececec; 
                                border-bottom: solid 1px #ececec; 

                                &:last-child{
                                    border-right: solid 1px #ececec; 
                                    border-bottom: solid 0px #ececec; 
                                }
                                &:nth-child(7n+1){
                                    border-left: solid 0px #ececec; 
                                }
                                &.today{
                                    a{
                                        color: #fff;
                                    }
                                }

                                &:hover {
                                    background-color: #424242;
                                    a{
                                        color: #fff;    
                                    }

                                }

                                &.empty{
                                    height: 66px;
                                }
                            }

                            li {
                                display: block;
                                float: left;
                                width: 14.28%;
                                width: calc(100% / 7);
                                height: 20px;
                                text-align: center;
                                height: auto;
                                margin: 0;
                                .empty {
                                    min-height: 66px;
                                }

                            }
                        }
                        li {
                            display: table-cell;
                            &.dayWithEvents
                            {
                                background-color: #3399fe;
                            } 
                            &.current {
                                background: none;
                            } 
                            a {
                                padding: 0;
                                display: inline-block;
                                width: 90px;
                                height: 45px;
                                line-height: 40px;
                                border-radius: 0;
                                text-align: center;
                                font-size: 16px;
                                font-family: 'Roboto',sans-serif;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .eventsCalendar-loading {
                display: block;
                min-width: 100px;
                height: 40px;
                line-height: 40px;
                margin: 5px auto;
                padding: 0 10px;
                color: #000;
                text-align: center;
                font-weight: bold;
                &.error {
                    background-color: #fe4918;
                }
            }
            .eventsCalendar-list {
                position: relative;
                z-index: 1;

                li {
                    time{

                        em{
                            font-size: 16px;
                            font-family: @font-family-sans-serif;
                            font-style: normal; 
                            display: block;
                            padding: 2.5px 0;
                        }
                        small{
                            display: block;
                            font-size: 14px;
                            font-family: @font-family-sans-serif;
                            font-style: normal;
                            padding: 2.5px 0;
                        }
                    }
                    a{
                        display: block;
                        font-size: 18px;
                        font-weight: bold;
                        font-family: @font-family-sans-serif;
                        padding: 10px 0;
                        line-height: 0;

                        &:hover{
                            text-decoration: none;
                            border-bottom: none;
                        }	
                    }
                    p{
                        font-size: 16px;
                        font-family: @font-family-sans-serif;
                        font-style: normal; 
                        display: block;
                        padding: 2.5px 0;
                    }
                }
                .oldEventList {
                    z-index: 2;
                }
            }
            ul.eventsCalendar-list {
                list-style: none !important;
                padding: 0 37px;
            }
            .eventsCalendar-subtitle {
                font-size: 18px;
                font-weight: 700;
                margin: 15px 0 -2px 0;
                padding-left: 35px;
            }
        }
        .form-control{
            height: 42px;    
            border-radius: none;
        }

    }
}
