.sep-page {
    .sep-detail {
        margin: (@padding-base-vertical + 15) 0 0; 
        overflow: hidden;

        .single-event-details{
            border-right: 1px solid @gray-light;
        }
        .event-schedule{
            text-align: left;
            font-size: @font-size-large;
            color: @gray-dark;
            border-bottom: 1px solid @gray-light;

            strong{
                font-size: (@font-size-large + 14);
                color: @gray-dark;
            }
            
            .countdown{
                margin-top: (@padding-base-vertical + 9);
                padding-bottom: 30px;
                
                .main-digit-wrapp{
                    display: inline-block;
                    padding: @padding-base-vertical;
                    border: 1px solid @gray-light;
                    margin: (@padding-base-vertical - 10);

                    &:first-child{
                        margin-left: 0;
                    }
                    .digit-wrapp{
                        display: block;
                    }
                    .cs-digit{
                        color: @brand-primary;
                        font-size: @font-size-large;
                    }
                    .countdown-period{
                        font-size: @font-size-base;
                        margin-left: 3px;
                    }
                }
            }
        }

        .event-organizer{
            padding: (@padding-base-vertical + 15) 0;
            border-bottom: 1px solid @gray-light;

            h3{
                font-size: @font-size-large;
                margin: 0 0 10px;
                text-transform: uppercase;
                color: @gray-dark;
            }
            table{
                border: none;
                
                tr{
                    
                    td{
                        border: none;
                        &:first-child{
                            font-size: @font-size-base;
                            font-weight: 500;
                            color: @gray-dark;
                            margin: 0;
                        }
                        &:last-child{
                            font-size: @font-size-base;
                            color: @gray;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .single-event-time{
            padding: (@padding-base-vertical + 15) 0;
            border-bottom: 1px solid @gray-light;

            h3{
                font-size: @font-size-large;
                margin: 0 0 10px;
                text-transform: uppercase;
                color: @gray-dark;
            }
            .event-date-time{
                
                strong{
                    font-size: @font-size-base;
                    font-weight: 500;
                    margin: 0;
                    display: block;
                    color: @gray-dark;
                }
                time{
                    font-size: @font-size-large;
                    color: @gray;
                }
            }
        }
        .event-venue{
            padding: (@padding-base-vertical + 15) 0;
            border-bottom: 1px solid @gray-light;

            h3{
                font-size: @font-size-large;
                margin: 0 0 10px;
                text-transform: uppercase;
                color: @gray-dark;
            }
        }
        .single-segments{
            padding: (@padding-base-vertical + 30) 0;
            border-bottom: 1px solid @gray-light;

            h3{
                font-size: @font-size-large;
                margin: 0 0 10px;
                text-transform: uppercase;
                color: @gray-dark;
            }
            .segments-style{
                padding-left: 15px;
                font-size: @font-size-base;
                .item{
                    color: @gray;
                    list-style-type: disc;
                }
            }
        }
        .event-description{

            .event-title{
                
                h2{
                    font-size: (@font-size-large + 4);
                    color: @gray-dark;
                    margin: (@padding-base-vertical + 5) 0;
                }
            }
            .single-event-description{
                
                p{
                    font-weight: 400;
                    line-height: 1.25;
                    margin: 0 0 17px;
                    text-align: left;
                    font-size: @font-size-large;
                    color: @gray;
                }

            } 
        }
    }
}