.sep-page {
    .grid{
        .search {
            margin-bottom: 30px;
            float: left;
            width: 100%;
            position: relative;
            input{
                width: 100%;

            }
            button{
                width: 50px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: @brand-primary;
                color: #fff;
                border: none;
                padding: 15px 5px;
            }
        }
    }
    .grid-view{

        [class*="col-sm-"]{
            margin-bottom: 40px;

            &:nth-child(3n+1) {
                clear: left;

                @media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
                    clear: none;
                }
            }
        }

        article {
            background: #f7f7f7;

            &:first-child{
                margin-top: 0;
            }
            figure{

                img{
                    width: 100%;
                }
            }

            .date{
                background-color: @brand-primary;
                color: @white;
                position: relative;
                width: 100%;

                .date-style{
                    padding:4% 0;
                    text-align: center;
                    font-size: @font-size-base;
                    font-weight: normal;

                    strong{
                        font-size: (@font-size-base + 10);
                        font-weight: bold;
                    }
                }
            }

            .description{
                margin-left: 0;
                padding: (@padding-base-vertical + 15);

                h4{
                    margin-bottom: 6px;
                    margin-top: 0;

                    a{
                        color: @gray-dark; 
                        font-weight: bold;
                    }
                }

                .location{
                    margin-bottom: 4px;

                    a{
                        font-size: @font-size-h4;
                        color: @gray;
                    }
                }

                .time{

                    time{
                        color: @gray;
                        font-size: @font-size-h5;
                    }
                }
            }
        }
    }

}