.sep-page {
    .listing{
        .search {
            margin-bottom: 30px;
            float: left;
            width: 100%;
            position: relative;
            input{
                width: 100%;

            }
            button{
                width: 50px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: @brand-primary;
                color: #fff;
                border: none;
                padding: 15px 5px;
            }
        }
    }
    .list-view{
        article {
            background: #f7f7f7;
            overflow: hidden;
            float: left;
            width: 100%;
            margin: 20px 0;
            &:first-child{
                margin-top: 0;
            }

            figure{

                img{
                    width: 100%;
                }
            }

            .date{
                background-color: @brand-primary;
                color: @white;
                bottom: 0;
                left: 0;
                position: absolute;
                top: 0;
                width: 15%;
                @media(max-width: @screen-sm){
                    position: relative;
                    width: 100%;
                }

                .date-style{
                    padding: 20% 0;
                    text-align: center;
                    font-size: 14px;
                    font-weight: normal;
                    @media(max-width: @screen-sm){

                        padding: 3% 0;
                    }

                    strong{
                        font-size: 24px;
                        font-weight: bold;
                    }
                }
            }

            .description{
                margin-left: 15%;
                padding: 30px;

                @media(max-width: @screen-sm){
                    margin-left: 0;
                }
                h4{
                    margin-bottom: 6px;
                    margin-top: 0;
                    a{
                        color: @gray-dark; 
                        font-weight: bold;
                    }
                }

                .location{
                    margin-bottom: 4px;
                    a{
                        font-size: @font-size-h4;
                        color: @gray;
                    }
                }
                .time{
                    time{
                        color: @gray;
                        font-size: @font-size-h5;
                    }
                }
            }
        }
    }
    .form-control{
        height: 42px;    
        border-radius: none;
    }

}