.@{prefix}-meta-option{
    overflow: hidden;
    margin: 15px 0;
    
    &:last-child{
        margin-bottom: 25px;
    }
    
    label{
        display: inline-block;
        width: @col-label;
        color: @label-color;
        background-color: @label-default-bg;
        float: left;
        line-height: 46px;
        font-size: @font-size-base;
        vertical-align: middle;

        &:hover{
            color: @label-link-hover-color;
        }
    }
    .@{prefix}-meta-option-field{
        width: @col-input;
        float: left;

        fieldset{
            border: none;
        }
        .@{prefix}-meta-option-checkbox{

            .@{prefix}-switch{
                margin-top: 10px;
                display: inline-block;
                .size(@width : 46px; @height: 22px);
                position: relative;

                input[type="checkbox"]{
                    display: none;

                    &:checked{

                        & + .@{prefix}-slider{
                            background-color: #2196F3;

                            &:before{
                                .translateX(26px);
                            }
                        }
                    }
                }
                .@{prefix}-slider{
                    border-radius: 34px;
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    .transition(.4s);

                    &:before{
                        border-radius: 50%;
                        position: absolute;
                        content: "";
                        .size(@width : 16px; @height: 16px);
                        left: 2px;
                        bottom: 3px;
                        background-color: @body-wrapper-bg;
                        .transition(.4s);
                    }
                }
            }
        }
    }
}