/* 
 *  SEP CSS File For Front-end
 *  v1.1.0
 */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.sep-wrap article,
.sep-wrap aside,
.sep-wrap details,
.sep-wrap figcaption,
.sep-wrap figure,
.sep-wrap footer,
.sep-wrap header,
.sep-wrap hgroup,
.sep-wrap main,
.sep-wrap menu,
.sep-wrap nav,
.sep-wrap section,
.sep-wrap summary {
    display: block;
}
.sep-wrap audio,
.sep-wrap canvas,
.sep-wrap progress,
.sep-wrap video {
    display: inline-block;
    vertical-align: baseline;
}
.sep-wrap audio:not([controls]) {
    display: none;
    height: 0;
}
.sep-wrap [hidden],
.sep-wrap template {
    display: none;
}
.sep-wrap a {
    background-color: transparent;
}
.sep-wrap a:active,
.sep-wrap a:hover {
    outline: 0;
}
.sep-wrap abbr[title] {
    border-bottom: 1px dotted;
}
.sep-wrap b,
.sep-wrap strong {
    font-weight: bold;
}
.sep-wrap dfn {
    font-style: italic;
}
.sep-wrap h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.sep-wrap mark {
    background: #ff0;
    color: #000;
}
.sep-wrap small {
    font-size: 80%;
}
.sep-wrap sub,
.sep-wrap sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.sep-wrap sup {
    top: -0.5em;
}
.sep-wrap sub {
    bottom: -0.25em;
}
.sep-wrap img {
    border: 0;
}
.sep-wrap svg:not(:root) {
    overflow: hidden;
}
.sep-wrap figure {
    margin: 1em 40px;
}
.sep-wrap hr {
    box-sizing: content-box;
    height: 0;
}
.sep-wrap pre {
    overflow: auto;
}
.sep-wrap code,
.sep-wrap kbd,
.sep-wrap pre,
.sep-wrap samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
.sep-wrap button,
.sep-wrap input,
.sep-wrap optgroup,
.sep-wrap select,
.sep-wrap textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.sep-wrap button {
    overflow: visible;
}
.sep-wrap button,
.sep-wrap select {
    text-transform: none;
}
.sep-wrap button,
.sep-wrap html input[type="button"],
.sep-wrap input[type="reset"],
.sep-wrap input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.sep-wrap button[disabled],
.sep-wrap html input[disabled] {
    cursor: default;
}
.sep-wrap button::-moz-focus-inner,
.sep-wrap input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.sep-wrap input {
    line-height: normal;
}
.sep-wrap input[type="checkbox"],
.sep-wrap input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.sep-wrap input[type="number"]::-webkit-inner-spin-button,
.sep-wrap input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
.sep-wrap input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
.sep-wrap input[type="search"]::-webkit-search-cancel-button,
.sep-wrap input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
.sep-wrap fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
.sep-wrap legend {
    border: 0;
    padding: 0;
}
.sep-wrap textarea {
    overflow: auto;
}
.sep-wrap optgroup {
    font-weight: bold;
}
.sep-wrap table {
    border-collapse: unset;
    border-spacing: 0;
}
.sep-wrap td,
.sep-wrap th {
    padding: 0;
}
.sep-wrap * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sep-wrap *:before,
.sep-wrap *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sep-wrap html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sep-wrap {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.sep-wrap input,
.sep-wrap button,
.sep-wrap select,
.sep-wrap textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.sep-wrap a {
    text-decoration: none;
}
.sep-wrap a:hover,
.sep-wrap a:focus {
    text-decoration: none;
}
.sep-wrap a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.sep-wrap figure {
    margin: 0;
}
.sep-wrap img {
    vertical-align: middle;
}
.sep-wrap .sep-img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.sep-wrap .sep-img-rounded {
    border-radius: 7px;
}
.sep-wrap .sep-img-thumbnail {
    padding: 0;
    line-height: 1.5;
    background-color: #f5f5f5;
    border: 1px solid none;
    border-radius: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.sep-wrap .sep-img-circle {
    border-radius: 50%;
}
.sep-wrap hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #f5f5f5;
}
.sep-wrap .sep-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.sep-wrap .sep-sr-only-focusable:active,
.sep-wrap .sep-sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}
.sep-wrap [role="button"] {
    cursor: pointer;
}
.sep-wrap h1,
.sep-wrap h2,
.sep-wrap h3,
.sep-wrap h4,
.sep-wrap h5,
.sep-wrap h6,
.sep-wrap .sep-h1,
.sep-wrap .sep-h2,
.sep-wrap .sep-h3,
.sep-wrap .sep-h4,
.sep-wrap .sep-h5,
.sep-wrap .sep-h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}
.sep-wrap h1 small,
.sep-wrap h2 small,
.sep-wrap h3 small,
.sep-wrap h4 small,
.sep-wrap h5 small,
.sep-wrap h6 small,
.sep-wrap .sep-h1 small,
.sep-wrap .sep-h2 small,
.sep-wrap .sep-h3 small,
.sep-wrap .sep-h4 small,
.sep-wrap .sep-h5 small,
.sep-wrap .sep-h6 small,
.sep-wrap h1 .sep-small,
.sep-wrap h2 .sep-small,
.sep-wrap h3 .sep-small,
.sep-wrap h4 .sep-small,
.sep-wrap h5 .sep-small,
.sep-wrap h6 .sep-small,
.sep-wrap .sep-h1 .sep-small,
.sep-wrap .sep-h2 .sep-small,
.sep-wrap .sep-h3 .sep-small,
.sep-wrap .sep-h4 .sep-small,
.sep-wrap .sep-h5 .sep-small,
.sep-wrap .sep-h6 .sep-small {
    font-weight: normal;
    line-height: 1;
    color: #666666;
}
.sep-wrap h1,
.sep-wrap .sep-h1,
.sep-wrap h2,
.sep-wrap .sep-h2,
.sep-wrap h3,
.sep-wrap .sep-h3 {

}
.sep-wrap h1 small,
.sep-wrap .sep-h1 small,
.sep-wrap h2 small,
.sep-wrap .sep-h2 small,
.sep-wrap h3 small,
.sep-wrap .sep-h3 small,
.sep-wrap h1 .sep-small,
.sep-wrap .sep-h1 .sep-small,
.sep-wrap h2 .sep-small,
.sep-wrap .sep-h2 .sep-small,
.sep-wrap h3 .sep-small,
.sep-wrap .sep-h3 .sep-small {
    font-size: 65%;
}
.sep-wrap h4,
.sep-wrap .sep-h4,
.sep-wrap h5,
.sep-wrap .sep-h5,
.sep-wrap h6,
.sep-wrap .sep-h6 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.sep-wrap h4 small,
.sep-wrap .sep-h4 small,
.sep-wrap h5 small,
.sep-wrap .sep-h5 small,
.sep-wrap h6 small,
.sep-wrap .sep-h6 small,
.sep-wrap h4 .sep-small,
.sep-wrap .sep-h4 .sep-small,
.sep-wrap h5 .sep-small,
.sep-wrap .sep-h5 .sep-small,
.sep-wrap h6 .sep-small,
.sep-wrap .sep-h6 .sep-small {
    font-size: 75%;
}
.sep-wrap h1,
.sep-wrap .sep-h1 {
    font-size: 30px;
}
.sep-wrap h2,
.sep-wrap .sep-h2 {
    font-size: 26px;
}
.sep-wrap h3,
.sep-wrap .sep-h3 {
    font-size: 24px;
}
.sep-wrap h4,
.sep-wrap .sep-h4 {
    font-size: 18px;
}
.sep-wrap h5,
.sep-wrap .sep-h5 {
    font-size: 16px;
}
.sep-wrap h6,
.sep-wrap .sep-h6 {
    font-size: 14px;
}
.sep-wrap p {
    margin: 0 0 12px;
}
.sep-wrap .sep-lead {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
}
@media (min-width: 768px) {
    .sep-wrap .sep-lead {
        font-size: 24px;
    }
}
.sep-wrap small,
.sep-wrap .sep-small {
    font-size: 87%;
}
.sep-wrap mark,
.sep-wrap .sep-mark {
    background-color: #fcf8e3;
    padding: .2em;
}
.sep-wrap .sep-text-left {
    text-align: left;
}
.sep-wrap .sep-text-right {
    text-align: right;
}
.sep-wrap .sep-text-center {
    text-align: center;
}
.sep-wrap .sep-text-justify {
    text-align: justify;
}
.sep-wrap .sep-text-nowrap {
    white-space: nowrap;
}
.sep-wrap .sep-text-lowercase {
    text-transform: lowercase;
}
.sep-wrap .sep-text-uppercase {
    text-transform: uppercase;
}
.sep-wrap .sep-text-capitalize {
    text-transform: capitalize;
}
.sep-wrap .sep-text-muted {
    color: #666666;
}
.sep-wrap .sep-text-primary {
    color: #164e91;
}
a.sep-wrap .sep-text-primary:hover,
a.sep-wrap .sep-text-primary:focus {
    color: #0f3665;
}
.sep-wrap .sep-text-success {
    color: #3c763d;
}
a.sep-wrap .sep-text-success:hover,
a.sep-wrap .sep-text-success:focus {
    color: #2b542c;
}
.sep-wrap .sep-text-info {
    color: #31708f;
}
a.sep-wrap .sep-text-info:hover,
a.sep-wrap .sep-text-info:focus {
    color: #245269;
}
.sep-wrap .sep-text-warning {
    color: #8a6d3b;
}
a.sep-wrap .sep-text-warning:hover,
a.sep-wrap .sep-text-warning:focus {
    color: #66512c;
}
.sep-wrap .sep-text-danger {
    color: #a94442;
}
a.sep-wrap .sep-text-danger:hover,
a.sep-wrap .sep-text-danger:focus {
    color: #843534;
}
.sep-wrap .sep-bg-primary {
    color: #fff;
    background-color: #164e91;
}
a.sep-wrap .sep-bg-primary:hover,
a.sep-wrap .sep-bg-primary:focus {
    background-color: #0f3665;
}
.sep-wrap .sep-bg-success {
    background-color: #dff0d8;
}
a.sep-wrap .sep-bg-success:hover,
a.sep-wrap .sep-bg-success:focus {
    background-color: #c1e2b3;
}
.sep-wrap .sep-bg-info {
    background-color: #d9edf7;
}
a.sep-wrap .sep-bg-info:hover,
a.sep-wrap .sep-bg-info:focus {
    background-color: #afd9ee;
}
.sep-wrap .sep-bg-warning {
    background-color: #fcf8e3;
}
a.sep-wrap .sep-bg-warning:hover,
a.sep-wrap .sep-bg-warning:focus {
    background-color: #f7ecb5;
}
.sep-wrap .sep-bg-danger {
    background-color: #f2dede;
}
a.sep-wrap .sep-bg-danger:hover,
a.sep-wrap .sep-bg-danger:focus {
    background-color: #e4b9b9;
}
.sep-wrap .sep-page-header {
    padding-bottom: 11px;
    margin: 48px 0 24px;
    border-bottom: 1px solid #f5f5f5;
}
.sep-wrap ul,
.sep-wrap ol {
    margin-top: 0;
    margin-bottom: 12px;
}
.sep-wrap ul ul,
.sep-wrap ol ul,
.sep-wrap ul ol,
.sep-wrap ol ol {
    margin-bottom: 0;
}
.sep-wrap .list-unstyled {
    padding-left: 0;
    list-style: none;
}
.sep-wrap .sep-list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
.sep-wrap .sep-list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.sep-wrap dl {
    margin-top: 0;
    margin-bottom: 24px;
}
.sep-wrap dt,
.sep-wrap dd {
    line-height: 1.5;
}
.sep-wrap dt {
    font-weight: bold;
}
.sep-wrap dd {
    margin-left: 0;
}
@media (min-width: 768px) {
    .sep-wrap .sep-dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .sep-wrap .sep-dl-horizontal dd {
        margin-left: 180px;
    }
}
.sep-wrap abbr[title],
.sep-wrap abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #666666;
}
.sep-wrap .sep-initialism {
    font-size: 90%;
    text-transform: uppercase;
}
.sep-wrap blockquote {
    padding: 12px 24px;
    margin: 0 0 24px;
    font-size: 20px;
    border-left: 5px solid #f5f5f5;
}
.sep-wrap blockquote p:last-child,
.sep-wrap blockquote ul:last-child,
.sep-wrap blockquote ol:last-child {
    margin-bottom: 0;
}
.sep-wrap blockquote footer,
.sep-wrap blockquote small,
.sep-wrap blockquote .sep-small {
    display: block;
    font-size: 80%;
    line-height: 1.5;
    color: #666666;
}
.sep-wrap blockquote footer:before,
.sep-wrap blockquote small:before,
.sep-wrap blockquote .sep-small:before {
    content: '\2014 \00A0';
}
.sep-wrap .sep-blockquote-reverse,
.sep-wrap blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #f5f5f5;
    border-left: 0;
    text-align: right;
}
.sep-wrap .sep-blockquote-reverse footer:before,
.sep-wrap blockquote.pull-right footer:before,
.sep-wrap .sep-blockquote-reverse small:before,
.sep-wrap blockquote.pull-right small:before,
.sep-wrap .sep-blockquote-reverse .sep-small:before,
.sep-wrap blockquote.pull-right .sep-small:before {
    content: '';
}
.sep-wrap .sep-blockquote-reverse footer:after,
.sep-wrap blockquote.pull-right footer:after,
.sep-wrap .sep-blockquote-reverse small:after,
.sep-wrap blockquote.pull-right small:after,
.sep-wrap .sep-blockquote-reverse .sep-small:after,
.sep-wrap blockquote.pull-right .sep-small:after {
    content: '\00A0 \2014';
}
.sep-wrap address {
    margin-bottom: 24px;
    font-style: normal;
    line-height: 1.5;
}
.sep-wrap .sep-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.sep-wrap .sep-container:before,
.sep-wrap .sep-container:after {
    content: " ";
    display: table;
}
.sep-wrap .sep-container:after {
    clear: both;
}
@media (min-width: 768px) {
    .sep-wrap .sep-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .sep-wrap .sep-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .sep-wrap .sep-container {
        width: 1170px;
    }
}
.sep-wrap .sep-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.sep-wrap .sep-container-fluid:before,
.sep-wrap .sep-container-fluid:after {
    content: " ";
    display: table;
}
.sep-wrap .sep-container-fluid:after {
    clear: both;
}
.sep-wrap .sep-row {
    margin-left: -15px;
    margin-right: -15px;
}
.sep-wrap .sep-row:before,
.sep-wrap .sep-row:after {
    content: " ";
    display: table;
}
.sep-wrap .sep-row:after {
    clear: both;
}
.sep-wrap .sep-col-xs-1, .sep-col-sm-1, .sep-col-md-1, .sep-col-lg-1, .sep-col-xs-2, .sep-col-sm-2, .sep-col-md-2, .sep-col-lg-2, .sep-col-xs-3, .sep-col-sm-3, .sep-col-md-3, .sep-col-lg-3, .sep-col-xs-4, .sep-col-sm-4, .sep-col-md-4, .sep-col-lg-4, .sep-col-xs-5, .sep-col-sm-5, .sep-col-md-5, .sep-col-lg-5, .sep-col-xs-6, .sep-col-sm-6, .sep-col-md-6, .sep-col-lg-6, .sep-col-xs-7, .sep-col-sm-7, .sep-col-md-7, .sep-col-lg-7, .sep-col-xs-8, .sep-col-sm-8, .sep-col-md-8, .sep-col-lg-8, .sep-col-xs-9, .sep-col-sm-9, .sep-col-md-9, .sep-col-lg-9, .sep-col-xs-10, .sep-col-sm-10, .sep-col-md-10, .sep-col-lg-10, .sep-col-xs-11, .sep-col-sm-11, .sep-col-md-11, .sep-col-lg-11, .sep-col-xs-12, .sep-col-sm-12, .sep-col-md-12, .sep-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.sep-wrap .sep-col-xs-1, .sep-col-xs-2, .sep-col-xs-3, .sep-col-xs-4, .sep-col-xs-5, .sep-col-xs-6, .sep-col-xs-7, .sep-col-xs-8, .sep-col-xs-9, .sep-col-xs-10, .sep-col-xs-11, .sep-col-xs-12 {
    float: left;
}
.sep-wrap .sep-col-xs-12 {
    width: 100%;
}
.sep-wrap .sep-col-xs-11 {
    width: 91.66666667%;
}
.sep-wrap .sep-col-xs-10 {
    width: 83.33333333%;
}
.sep-wrap .sep-col-xs-9 {
    width: 75%;
}
.sep-wrap .sep-col-xs-8 {
    width: 66.66666667%;
}
.sep-wrap .sep-col-xs-7 {
    width: 58.33333333%;
}
.sep-wrap .sep-col-xs-6 {
    width: 50%;
}
.sep-wrap .sep-col-xs-5 {
    width: 41.66666667%;
}
.sep-wrap .sep-col-xs-4 {
    width: 33.33333333%;
}
.sep-wrap .sep-col-xs-3 {
    width: 25%;
}
.sep-wrap .sep-col-xs-2 {
    width: 16.66666667%;
}
.sep-wrap .sep-col-xs-1 {
    width: 8.33333333%;
}
.sep-wrap .sep-col-xs-pull-12 {
    right: 100%;
}
.sep-wrap .sep-col-xs-pull-11 {
    right: 91.66666667%;
}
.sep-wrap .sep-col-xs-pull-10 {
    right: 83.33333333%;
}
.sep-wrap .sep-col-xs-pull-9 {
    right: 75%;
}
.sep-wrap .sep-col-xs-pull-8 {
    right: 66.66666667%;
}
.sep-wrap .sep-col-xs-pull-7 {
    right: 58.33333333%;
}
.sep-wrap .sep-col-xs-pull-6 {
    right: 50%;
}
.sep-wrap .sep-col-xs-pull-5 {
    right: 41.66666667%;
}
.sep-wrap .sep-col-xs-pull-4 {
    right: 33.33333333%;
}
.sep-wrap .sep-col-xs-pull-3 {
    right: 25%;
}
.sep-wrap .sep-col-xs-pull-2 {
    right: 16.66666667%;
}
.sep-wrap .sep-col-xs-pull-1 {
    right: 8.33333333%;
}
.sep-wrap .sep-col-xs-pull-0 {
    right: auto;
}
.sep-wrap .sep-col-xs-push-12 {
    left: 100%;
}
.sep-wrap .sep-col-xs-push-11 {
    left: 91.66666667%;
}
.sep-wrap .sep-col-xs-push-10 {
    left: 83.33333333%;
}
.sep-wrap .sep-col-xs-push-9 {
    left: 75%;
}
.sep-wrap .sep-col-xs-push-8 {
    left: 66.66666667%;
}
.sep-wrap .sep-col-xs-push-7 {
    left: 58.33333333%;
}
.sep-wrap .sep-col-xs-push-6 {
    left: 50%;
}
.sep-wrap .sep-col-xs-push-5 {
    left: 41.66666667%;
}
.sep-wrap .sep-col-xs-push-4 {
    left: 33.33333333%;
}
.sep-wrap .sep-col-xs-push-3 {
    left: 25%;
}
.sep-wrap .sep-col-xs-push-2 {
    left: 16.66666667%;
}
.sep-wrap .sep-col-xs-push-1 {
    left: 8.33333333%;
}
.sep-wrap .sep-col-xs-push-0 {
    left: auto;
}
.sep-wrap .sep-col-xs-offset-12 {
    margin-left: 100%;
}
.sep-wrap .sep-col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.sep-wrap .sep-col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.sep-wrap .sep-col-xs-offset-9 {
    margin-left: 75%;
}
.sep-wrap .sep-col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.sep-wrap .sep-col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.sep-wrap .sep-col-xs-offset-6 {
    margin-left: 50%;
}
.sep-wrap .sep-col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.sep-wrap .sep-col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.sep-wrap .sep-col-xs-offset-3 {
    margin-left: 25%;
}
.sep-wrap .sep-col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.sep-wrap .sep-col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.sep-wrap .sep-col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    .sep-wrap .sep-col-sm-1, .sep-col-sm-2, .sep-col-sm-3, .sep-col-sm-4, .sep-col-sm-5, .sep-col-sm-6, .sep-col-sm-7, .sep-col-sm-8, .sep-col-sm-9, .sep-col-sm-10, .sep-col-sm-11, .sep-col-sm-12 {
        float: left;
    }
    .sep-wrap .sep-col-sm-12 {
        width: 100%;
    }
    .sep-wrap .sep-col-sm-11 {
        width: 91.66666667%;
    }
    .sep-wrap .sep-col-sm-10 {
        width: 83.33333333%;
    }
    .sep-wrap .sep-col-sm-9 {
        width: 75%;
    }
    .sep-wrap .sep-col-sm-8 {
        width: 66.66666667%;
    }
    .sep-wrap .sep-col-sm-7 {
        width: 58.33333333%;
    }
    .sep-wrap .sep-col-sm-6 {
        width: 50%;
    }
    .sep-wrap .sep-col-sm-5 {
        width: 41.66666667%;
    }
    .sep-wrap .sep-col-sm-4 {
        width: 33.33333333%;
    }
    .sep-wrap .sep-col-sm-3 {
        width: 25%;
    }
    .sep-wrap .sep-col-sm-2 {
        width: 16.66666667%;
    }
    .sep-wrap .sep-col-sm-1 {
        width: 8.33333333%;
    }
    .sep-wrap .sep-col-sm-pull-12 {
        right: 100%;
    }
    .sep-wrap .sep-col-sm-pull-11 {
        right: 91.66666667%;
    }
    .sep-wrap .sep-col-sm-pull-10 {
        right: 83.33333333%;
    }
    .sep-wrap .sep-col-sm-pull-9 {
        right: 75%;
    }
    .sep-wrap .sep-col-sm-pull-8 {
        right: 66.66666667%;
    }
    .sep-wrap .sep-col-sm-pull-7 {
        right: 58.33333333%;
    }
    .sep-wrap .sep-col-sm-pull-6 {
        right: 50%;
    }
    .sep-wrap .sep-col-sm-pull-5 {
        right: 41.66666667%;
    }
    .sep-wrap .sep-col-sm-pull-4 {
        right: 33.33333333%;
    }
    .sep-wrap .sep-col-sm-pull-3 {
        right: 25%;
    }
    .sep-wrap .sep-col-sm-pull-2 {
        right: 16.66666667%;
    }
    .sep-wrap .sep-col-sm-pull-1 {
        right: 8.33333333%;
    }
    .sep-wrap .sep-col-sm-pull-0 {
        right: auto;
    }
    .sep-wrap .sep-col-sm-push-12 {
        left: 100%;
    }
    .sep-wrap .sep-col-sm-push-11 {
        left: 91.66666667%;
    }
    .sep-wrap .sep-col-sm-push-10 {
        left: 83.33333333%;
    }
    .sep-wrap .sep-col-sm-push-9 {
        left: 75%;
    }
    .sep-wrap .sep-col-sm-push-8 {
        left: 66.66666667%;
    }
    .sep-wrap .sep-col-sm-push-7 {
        left: 58.33333333%;
    }
    .sep-wrap .sep-col-sm-push-6 {
        left: 50%;
    }
    .sep-wrap .sep-col-sm-push-5 {
        left: 41.66666667%;
    }
    .sep-wrap .sep-col-sm-push-4 {
        left: 33.33333333%;
    }
    .sep-wrap .sep-col-sm-push-3 {
        left: 25%;
    }
    .sep-wrap .sep-col-sm-push-2 {
        left: 16.66666667%;
    }
    .sep-wrap .sep-col-sm-push-1 {
        left: 8.33333333%;
    }
    .sep-wrap .sep-col-sm-push-0 {
        left: auto;
    }
    .sep-wrap .sep-col-sm-offset-12 {
        margin-left: 100%;
    }
    .sep-wrap .sep-col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .sep-wrap .sep-col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .sep-wrap .sep-col-sm-offset-9 {
        margin-left: 75%;
    }
    .sep-wrap .sep-col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .sep-wrap .sep-col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .sep-wrap .sep-col-sm-offset-6 {
        margin-left: 50%;
    }
    .sep-wrap .sep-col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .sep-wrap .sep-col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .sep-wrap .sep-col-sm-offset-3 {
        margin-left: 25%;
    }
    .sep-wrap .sep-col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .sep-wrap .sep-col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .sep-wrap .sep-col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .sep-wrap .sep-col-md-1, .sep-col-md-2, .sep-col-md-3, .sep-col-md-4, .sep-col-md-5, .sep-col-md-6, .sep-col-md-7, .sep-col-md-8, .sep-col-md-9, .sep-col-md-10, .sep-col-md-11, .sep-col-md-12 {
        float: left;
    }
    .sep-wrap .sep-col-md-12 {
        width: 100%;
    }
    .sep-wrap .sep-col-md-11 {
        width: 91.66666667%;
    }
    .sep-wrap .sep-col-md-10 {
        width: 83.33333333%;
    }
    .sep-wrap .sep-col-md-9 {
        width: 75%;
    }
    .sep-wrap .sep-col-md-8 {
        width: 66.66666667%;
    }
    .sep-wrap .sep-col-md-7 {
        width: 58.33333333%;
    }
    .sep-wrap .sep-col-md-6 {
        width: 50%;
    }
    .sep-wrap .sep-col-md-5 {
        width: 41.66666667%;
    }
    .sep-wrap .sep-col-md-4 {
        width: 33.33333333%;
    }
    .sep-wrap .sep-col-md-3 {
        width: 25%;
    }
    .sep-wrap .sep-col-md-2 {
        width: 16.66666667%;
    }
    .sep-wrap .sep-col-md-1 {
        width: 8.33333333%;
    }
    .sep-wrap .sep-col-md-pull-12 {
        right: 100%;
    }
    .sep-wrap .sep-col-md-pull-11 {
        right: 91.66666667%;
    }
    .sep-wrap .sep-col-md-pull-10 {
        right: 83.33333333%;
    }
    .sep-wrap .sep-col-md-pull-9 {
        right: 75%;
    }
    .sep-wrap .sep-col-md-pull-8 {
        right: 66.66666667%;
    }
    .sep-wrap .sep-col-md-pull-7 {
        right: 58.33333333%;
    }
    .sep-wrap .sep-col-md-pull-6 {
        right: 50%;
    }
    .sep-wrap .sep-col-md-pull-5 {
        right: 41.66666667%;
    }
    .sep-wrap .sep-col-md-pull-4 {
        right: 33.33333333%;
    }
    .sep-wrap .sep-col-md-pull-3 {
        right: 25%;
    }
    .sep-wrap .sep-col-md-pull-2 {
        right: 16.66666667%;
    }
    .sep-wrap .sep-col-md-pull-1 {
        right: 8.33333333%;
    }
    .sep-wrap .sep-col-md-pull-0 {
        right: auto;
    }
    .sep-wrap .sep-col-md-push-12 {
        left: 100%;
    }
    .sep-wrap .sep-col-md-push-11 {
        left: 91.66666667%;
    }
    .sep-wrap .sep-col-md-push-10 {
        left: 83.33333333%;
    }
    .sep-wrap .sep-col-md-push-9 {
        left: 75%;
    }
    .sep-wrap .sep-col-md-push-8 {
        left: 66.66666667%;
    }
    .sep-wrap .sep-col-md-push-7 {
        left: 58.33333333%;
    }
    .sep-wrap .sep-col-md-push-6 {
        left: 50%;
    }
    .sep-wrap .sep-col-md-push-5 {
        left: 41.66666667%;
    }
    .sep-wrap .sep-col-md-push-4 {
        left: 33.33333333%;
    }
    .sep-wrap .sep-col-md-push-3 {
        left: 25%;
    }
    .sep-wrap .sep-col-md-push-2 {
        left: 16.66666667%;
    }
    .sep-wrap .sep-col-md-push-1 {
        left: 8.33333333%;
    }
    .sep-wrap .sep-col-md-push-0 {
        left: auto;
    }
    .sep-wrap .sep-col-md-offset-12 {
        margin-left: 100%;
    }
    .sep-wrap .sep-col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .sep-wrap .sep-col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .sep-wrap .sep-col-md-offset-9 {
        margin-left: 75%;
    }
    .sep-wrap .sep-col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .sep-wrap .sep-col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .sep-wrap .sep-col-md-offset-6 {
        margin-left: 50%;
    }
    .sep-wrap .sep-col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .sep-wrap .sep-col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .sep-wrap .sep-col-md-offset-3 {
        margin-left: 25%;
    }
    .sep-wrap .sep-col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .sep-wrap .sep-col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .sep-wrap .sep-col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .sep-wrap .sep-col-lg-1, .sep-col-lg-2, .sep-col-lg-3, .sep-col-lg-4, .sep-col-lg-5, .sep-col-lg-6, .sep-col-lg-7, .sep-col-lg-8, .sep-col-lg-9, .sep-col-lg-10, .sep-col-lg-11, .sep-col-lg-12 {
        float: left;
    }
    .sep-wrap .sep-col-lg-12 {
        width: 100%;
    }
    .sep-wrap .sep-col-lg-11 {
        width: 91.66666667%;
    }
    .sep-wrap .sep-col-lg-10 {
        width: 83.33333333%;
    }
    .sep-wrap .sep-col-lg-9 {
        width: 75%;
    }
    .sep-wrap .sep-col-lg-8 {
        width: 66.66666667%;
    }
    .sep-wrap .sep-col-lg-7 {
        width: 58.33333333%;
    }
    .sep-wrap .sep-col-lg-6 {
        width: 50%;
    }
    .sep-wrap .sep-col-lg-5 {
        width: 41.66666667%;
    }
    .sep-wrap .sep-col-lg-4 {
        width: 33.33333333%;
    }
    .sep-wrap .sep-col-lg-3 {
        width: 25%;
    }
    .sep-wrap .sep-col-lg-2 {
        width: 16.66666667%;
    }
    .sep-wrap .sep-col-lg-1 {
        width: 8.33333333%;
    }
    .sep-wrap .sep-col-lg-pull-12 {
        right: 100%;
    }
    .sep-wrap .sep-col-lg-pull-11 {
        right: 91.66666667%;
    }
    .sep-wrap .sep-col-lg-pull-10 {
        right: 83.33333333%;
    }
    .sep-wrap .sep-col-lg-pull-9 {
        right: 75%;
    }
    .sep-wrap .sep-col-lg-pull-8 {
        right: 66.66666667%;
    }
    .sep-wrap .sep-col-lg-pull-7 {
        right: 58.33333333%;
    }
    .sep-wrap .sep-col-lg-pull-6 {
        right: 50%;
    }
    .sep-wrap .sep-col-lg-pull-5 {
        right: 41.66666667%;
    }
    .sep-wrap .sep-col-lg-pull-4 {
        right: 33.33333333%;
    }
    .sep-wrap .sep-col-lg-pull-3 {
        right: 25%;
    }
    .sep-wrap .sep-col-lg-pull-2 {
        right: 16.66666667%;
    }
    .sep-wrap .sep-col-lg-pull-1 {
        right: 8.33333333%;
    }
    .sep-wrap .sep-col-lg-pull-0 {
        right: auto;
    }
    .sep-wrap .sep-col-lg-push-12 {
        left: 100%;
    }
    .sep-wrap .sep-col-lg-push-11 {
        left: 91.66666667%;
    }
    .sep-wrap .sep-col-lg-push-10 {
        left: 83.33333333%;
    }
    .sep-wrap .sep-col-lg-push-9 {
        left: 75%;
    }
    .sep-wrap .sep-col-lg-push-8 {
        left: 66.66666667%;
    }
    .sep-wrap .sep-col-lg-push-7 {
        left: 58.33333333%;
    }
    .sep-wrap .sep-col-lg-push-6 {
        left: 50%;
    }
    .sep-wrap .sep-col-lg-push-5 {
        left: 41.66666667%;
    }
    .sep-wrap .sep-col-lg-push-4 {
        left: 33.33333333%;
    }
    .sep-wrap .sep-col-lg-push-3 {
        left: 25%;
    }
    .sep-wrap .sep-col-lg-push-2 {
        left: 16.66666667%;
    }
    .sep-wrap .sep-col-lg-push-1 {
        left: 8.33333333%;
    }
    .sep-wrap .sep-col-lg-push-0 {
        left: auto;
    }
    .sep-wrap .sep-col-lg-offset-12 {
        margin-left: 100%;
    }
    .sep-wrap .sep-col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .sep-wrap .sep-col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .sep-wrap .sep-col-lg-offset-9 {
        margin-left: 75%;
    }
    .sep-wrap .sep-col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .sep-wrap .sep-col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .sep-wrap .sep-col-lg-offset-6 {
        margin-left: 50%;
    }
    .sep-wrap .sep-col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .sep-wrap .sep-col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .sep-wrap .sep-col-lg-offset-3 {
        margin-left: 25%;
    }
    .sep-wrap .sep-col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .sep-wrap .sep-col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .sep-wrap .sep-col-lg-offset-0 {
        margin-left: 0%;
    }
}
.sep-wrap fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}
.sep-wrap legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: inherit;
    color: #777777;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.sep-wrap label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.sep-wrap input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sep-wrap input[type="radio"],
.sep-wrap input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
.sep-wrap input[type="file"] {
    display: block;
}
.sep-wrap input[type="range"] {
    display: block;
    width: 100%;
}
.sep-wrap select[multiple],
.sep-wrap select[size] {
    height: auto;
}
.sep-wrap input[type="file"]:focus,
.sep-wrap input[type="radio"]:focus,
.sep-wrap input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.sep-wrap output {
    display: block;
    padding-top: 7px;
    font-size: 16px;
    line-height: 1.5;
    color: #444444;
}
.sep-wrap .sep-form-control {
    display: block;
    width: 100%;
    height: 47px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #444444;
    background-color: #f9f9f9;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.sep-wrap .sep-form-control:focus {
    border-color: #164e91;
    outline: 0;
}
.sep-wrap .sep-form-control::-moz-placeholder {
    color: #999999;
    opacity: 1;
}
.sep-wrap .sep-form-control:-ms-input-placeholder {
    color: #999999;
    opacity: 1;
}
.sep-wrap .sep-form-control::-webkit-input-placeholder {
    color: #999999;
    opacity: 1;
}
.sep-wrap .sep-form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}
.sep-wrap .sep-form-control[disabled],
.sep-wrap .sep-form-control[readonly],
fieldset[disabled] .sep-wrap .sep-form-control {
    background-color: #f5f5f5;
    opacity: 1;
}
.sep-wrap .sep-form-control[disabled],
fieldset[disabled] .sep-wrap .sep-form-control {
    cursor: not-allowed;
}
textarea.sep-wrap .sep-form-control {
    height: auto;
}
.sep-wrap input[type="search"] {
    -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .sep-wrap input[type="date"].sep-form-control,
    .sep-wrap input[type="time"].sep-form-control,
    .sep-wrap input[type="datetime-local"].sep-form-control,
    .sep-wrap input[type="month"].sep-form-control {
        line-height: 47px;
    }
    .sep-wrap input[type="date"].sep-input-sm,
    .sep-wrap input[type="time"].sep-input-sm,
    .sep-wrap input[type="datetime-local"].sep-input-sm,
    .sep-wrap input[type="month"].sep-input-sm,
    .sep-input-group-sm .sep-wrap input[type="date"],
    .sep-input-group-sm .sep-wrap input[type="time"],
    .sep-input-group-sm .sep-wrap input[type="datetime-local"],
    .sep-input-group-sm .sep-wrap input[type="month"] {
        line-height: 33px;
    }
    .sep-wrap input[type="date"].sep-input-lg,
    .sep-wrap input[type="time"].sep-input-lg,
    .sep-wrap input[type="datetime-local"].sep-input-lg,
    .sep-wrap input[type="month"].sep-input-lg,
    .sep-input-group-lg .sep-wrap input[type="date"],
    .sep-input-group-lg .sep-wrap input[type="time"],
    .sep-input-group-lg .sep-wrap input[type="datetime-local"],
    .sep-input-group-lg .sep-wrap input[type="month"] {
        line-height: 49px;
    }
}
.sep-wrap .sep-form-group{
    margin-bottom: 10px;
    margin-top: 10px;

}
.sep-wrap .sep-radio,
.sep-wrap .sep-checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sep-wrap .sep-radio label,
.sep-wrap .sep-checkbox label {
    min-height: 24px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.sep-wrap .sep-radio input[type="radio"],
.sep-wrap .sep-radio-inline input[type="radio"],
.sep-wrap .sep-checkbox input[type="checkbox"],
.sep-wrap .sep-checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
.sep-wrap .sep-radio + .sep-radio,
.sep-wrap .sep-checkbox + .sep-checkbox {
    margin-top: -5px;
}
.sep-wrap .sep-radio-inline,
.sep-wrap .sep-checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}
.sep-wrap .sep-radio-inline + .sep-radio-inline,
.sep-wrap .sep-checkbox-inline + .sep-checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}
.sep-wrap input[type="radio"][disabled],
.sep-wrap input[type="checkbox"][disabled],
.sep-wrap input[type="radio"].sep-disabled,
.sep-wrap input[type="checkbox"].sep-disabled,
fieldset[disabled] .sep-wrap input[type="radio"],
fieldset[disabled] .sep-wrap input[type="checkbox"] {
    cursor: not-allowed;
}
.sep-wrap .sep-radio-inline.sep-disabled,
.sep-wrap .sep-checkbox-inline.sep-disabled,
fieldset[disabled] .sep-wrap .sep-radio-inline,
fieldset[disabled] .sep-wrap .sep-checkbox-inline {
    cursor: not-allowed;
}
.sep-wrap .sep-radio.sep-disabled label,
.sep-wrap .sep-checkbox.sep-disabled label,
fieldset[disabled] .sep-wrap .sep-radio label,
fieldset[disabled] .sep-wrap .sep-checkbox label {
    cursor: not-allowed;
}
.sep-wrap .sep-form-control-static {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
    min-height: 40px;
}
.sep-wrap .sep-form-control-static.sep-input-lg,
.sep-wrap .sep-form-control-static.sep-input-sm {
    padding-left: 0;
    padding-right: 0;
}
.sep-wrap .input-sm {
    height: 33px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
}
select.sep-wrap .input-sm {
    height: 33px;
    line-height: 33px;
}
textarea.sep-wrap .input-sm,
select[multiple].sep-wrap .input-sm {
    height: auto;
}
.sep-wrap .sep-form-group-sm .sep-form-control {
    height: 33px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
}
.sep-wrap .sep-form-group-sm select.sep-form-control {
    height: 33px;
    line-height: 33px;
}
.sep-wrap .sep-form-group-sm textarea.sep-form-control,
.sep-wrap .sep-form-group-sm select[multiple].form-control {
    height: auto;
}
.sep-wrap .sep-form-group-sm .sep-form-control-static {
    height: 33px;
    min-height: 38px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.5;
}
.sep-wrap .input-lg {
    height: 49px;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 15px;
}
select.sep-wrap .input-lg {
    height: 49px;
    line-height: 49px;
}
textarea.sep-wrap .input-lg,
select[multiple].sep-wrap .input-lg {
    height: auto;
}
.sep-wrap .sep-form-group-lg .sep-form-control {
    height: 49px;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 15px;
}
.sep-wrap .sep-form-group-lg select.sep-form-control {
    height: 49px;
    line-height: 49px;
}
.sep-wrap .sep-form-group-lg textarea.sep-form-control,
.sep-wrap .sep-form-group-lg select[multiple].sep-form-control {
    height: auto;
}
.sep-wrap .sep-form-group-lg .sep-form-control-static {
    height: 49px;
    min-height: 44px;
    padding: 11px 16px;
    font-size: 20px;
    line-height: 1.3333333;
}
.sep-wrap .sep-has-feedback {
    position: relative;
}
.sep-wrap .sep-has-feedback .sep-form-control {
    padding-right: 58.75px;
}
.sep-wrap .sep-form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 47px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    pointer-events: none;
}
.sep-wrap .sep-input-lg + .sep-form-control-feedback,
.sep-wrap .sep-input-group-lg + .sep-form-control-feedback,
.sep-wrap .sep-form-group-lg .sep-form-control + .sep-form-control-feedback {
    width: 49px;
    height: 49px;
    line-height: 49px;
}
.sep-wrap .sep-input-sm + .sep-form-control-feedback,
.sep-wrap .sep-input-group-sm + .sep-form-control-feedback,
.sep-wrap .sep-form-group-sm .sep-form-control + .sep-form-control-feedback {
    width: 33px;
    height: 33px;
    line-height: 33px;
}
.sep-wrap .has-success .sep-help-block,
.sep-wrap .has-success .sep-control-label,
.sep-wrap .has-success .sep-radio,
.sep-wrap .has-success .sep-checkbox,
.sep-wrap .has-success .sep-radio-inline,
.sep-wrap .has-success .sep-checkbox-inline,
.sep-wrap .has-success.sep-radio label,
.sep-wrap .has-success.sep-checkbox label,
.sep-wrap .has-success.sep-radio-inline label,
.sep-wrap .has-success.sep-checkbox-inline label {
    color: #3c763d;
}
.sep-wrap .has-success .sep-form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.sep-wrap .has-success .sep-form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.sep-wrap .has-success .sep-input-group-addon {
    color: #3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}
.sep-wrap .has-success .sep-form-control-feedback {
    color: #3c763d;
}
.sep-wrap .has-warning .sep-help-block,
.sep-wrap .has-warning .sep-control-label,
.sep-wrap .has-warning .sep-radio,
.sep-wrap .has-warning .sep-checkbox,
.sep-wrap .has-warning .sep-radio-inline,
.sep-wrap .has-warning .sep-checkbox-inline,
.sep-wrap .has-warning.sep-radio label,
.sep-wrap .has-warning.sep-checkbox label,
.sep-wrap .has-warning.sep-radio-inline label,
.sep-wrap .has-warning.sep-checkbox-inline label {
    color: #8a6d3b;
}
.sep-wrap .has-warning .sep-form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.sep-wrap .has-warning .sep-form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.sep-wrap .has-warning .sep-input-group-addon {
    color: #8a6d3b;
    border-color: #8a6d3b;
    background-color: #fcf8e3;
}
.sep-wrap .has-warning .sep-form-control-feedback {
    color: #8a6d3b;
}
.sep-wrap .has-error .sep-help-block,
.sep-wrap .has-error .sep-control-label,
.sep-wrap .has-error .sep-radio,
.sep-wrap .has-error .sep-checkbox,
.sep-wrap .has-error .sep-radio-inline,
.sep-wrap .has-error .sep-checkbox-inline,
.sep-wrap .has-error.sep-radio label,
.sep-wrap .has-error.sep-checkbox label,
.sep-wrap .has-error.sep-radio-inline label,
.sep-wrap .has-error.sep-checkbox-inline label {
    color: #a94442;
}
.sep-wrap .has-error .sep-form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.sep-wrap .has-error .sep-form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.sep-wrap .has-error .sep-input-group-addon {
    color: #a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
.sep-wrap .has-error .sep-form-control-feedback {
    color: #a94442;
}
.sep-wrap .sep-has-feedback label ~ .form-control-feedback {
    top: 29px;
}
.sep-wrap .sep-has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
}
.sep-wrap .sep-help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a6a6a6;
}
@media (min-width: 768px) {
    .sep-wrap .form-inline .sep-form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .sep-wrap .form-inline .sep-form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .sep-wrap .form-inline .sep-form-control-static {
        display: inline-block;
    }
    .sep-wrap .form-inline .sep-input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .sep-wrap .form-inline .sep-input-group .sep-input-group-addon,
    .sep-wrap .form-inline .sep-input-group .sep-input-group-btn,
    .sep-wrap .form-inline .sep-input-group .sep-form-control {
        width: auto;
    }
    .sep-wrap .form-inline .sep-input-group > .sep-form-control {
        width: 100%;
    }
    .sep-wrap .form-inline .sep-control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .sep-wrap .form-inline .sep-radio,
    .sep-wrap .form-inline .sep-checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .sep-wrap .form-inline .sep-radio label,
    .sep-wrap .form-inline .sep-checkbox label {
        padding-left: 0;
    }
    .sep-wrap .form-inline .sep-radio input[type="radio"],
    .sep-wrap .form-inline .sep-checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }
    .sep-wrap .form-inline .sep-has-feedback .sep-form-control-feedback {
        top: 0;
    }
}
.sep-wrap .sep-form-horizontal .sep-radio,
.sep-wrap .sep-form-horizontal .sep-checkbox,
.sep-wrap .sep-form-horizontal .sep-radio-inline,
.sep-wrap .sep-form-horizontal .sep-checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.sep-wrap .sep-form-horizontal .sep-radio,
.sep-wrap .sep-form-horizontal .sep-checkbox {
    min-height: 31px;
}
.sep-wrap .sep-form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.sep-wrap .sep-form-horizontal .form-group:before,
.sep-wrap .sep-form-horizontal .form-group:after {
    content: " ";
    display: table;
}
.sep-wrap .sep-form-horizontal .form-group:after {
    clear: both;
}
@media (min-width: 768px) {
    .sep-wrap .sep-form-horizontal .sep-control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }
}
.sep-wrap .sep-form-horizontal .sep-has-feedback .sep-form-control-feedback {
    right: 15px;
}
@media (min-width: 768px) {
    .sep-wrap .sep-form-horizontal .sep-form-group-lg .sep-control-label {
        padding-top: 11px;
        font-size: 20px;
    }
    .sep-wrap .sep-form-horizontal .sep-form-group-sm .sep-control-label {
        padding-top: 6px;
        font-size: 14px;
    }
}
.sep-wrap .sep-input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.sep-wrap .sep-input-group[class*="col-"] {
    float: none;
    padding-left: 0;
    padding-right: 0;
}
.sep-wrap .sep-input-group .sep-form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.sep-wrap .sep-input-group .sep-form-control:focus {
    z-index: 3;
}
.sep-wrap .sep-input-group-lg > .sep-form-control,
.sep-wrap .sep-input-group-lg > .sep-input-group-addon,
.sep-wrap .sep-input-group-lg > .sep-input-group-btn > .sep-btn {
    height: 49px;
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.3333333;
    border-radius: 15px;
}
select.sep-wrap .sep-input-group-lg > .sep-form-control,
select.sep-wrap .sep-input-group-lg > .sep-input-group-addon,
select.sep-wrap .sep-input-group-lg > .sep-input-group-btn > .sep-btn {
    height: 49px;
    line-height: 49px;
}
textarea.sep-wrap .sep-input-group-lg > .sep-form-control,
textarea.sep-wrap .sep-input-group-lg > .sep-input-group-addon,
textarea.sep-wrap .sep-input-group-lg > .sep-input-group-btn > .sep-btn,
select[multiple].sep-wrap .sep-input-group-lg > .sep-form-control,
select[multiple].sep-wrap .sep-input-group-lg > .sep-input-group-addon,
select[multiple].sep-wrap .sep-input-group-lg > .sep-input-group-btn > .sep-btn {
    height: auto;
}
.sep-wrap .sep-input-group-sm > .sep-form-control,
.sep-wrap .sep-input-group-sm > .sep-input-group-addon,
.sep-wrap .sep-input-group-sm > .sep-input-group-btn > .sep-btn {
    height: 33px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
}
select.sep-wrap .sep-input-group-sm > .sep-form-control,
select.sep-wrap .sep-input-group-sm > .sep-input-group-addon,
select.sep-wrap .sep-input-group-sm > .sep-input-group-btn > .sep-btn {
    height: 33px;
    line-height: 33px;
}
textarea.sep-wrap .sep-input-group-sm > .sep-form-control,
textarea.sep-wrap .sep-input-group-sm > .sep-input-group-addon,
textarea.sep-wrap .sep-input-group-sm > .sep-input-group-btn > .sep-btn,
select[multiple].sep-wrap .sep-input-group-sm > .sep-form-control,
select[multiple].sep-wrap .sep-input-group-sm > .sep-input-group-addon,
select[multiple].sep-wrap .sep-input-group-sm > .sep-input-group-btn > .sep-btn {
    height: auto;
}
.sep-wrap .sep-input-group-addon,
.sep-wrap .sep-input-group-btn,
.sep-wrap .sep-input-group .sep-form-control {
    display: table-cell;
}
.sep-wrap .sep-input-group-addon:not(:first-child):not(:last-child),
.sep-wrap .sep-input-group-btn:not(:first-child):not(:last-child),
.sep-wrap .sep-input-group .sep-form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.sep-wrap .sep-input-group-addon,
.sep-wrap .sep-input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.sep-wrap .sep-input-group-addon {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    color: #444444;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 7px;
}
.sep-wrap .sep-input-group-addon.sep-input-sm {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}
.sep-wrap .sep-input-group-addon.sep-input-lg {
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 15px;
}
.sep-wrap .sep-input-group-addon input[type="radio"],
.sep-wrap .sep-input-group-addon input[type="checkbox"] {
    margin-top: 0;
}
.sep-wrap .sep-input-group .sep-form-control:first-child,
.sep-wrap .sep-input-group-addon:first-child,
.sep-wrap .sep-input-group-btn:first-child > .sep-btn,
.sep-wrap .sep-input-group-btn:first-child > .sep-btn-group > .sep-btn,
.sep-wrap .sep-input-group-btn:first-child > .sep-dropdown-toggle,
.sep-wrap .sep-input-group-btn:last-child > .sep-btn:not(:last-child):not(.sep-dropdown-toggle),
.sep-wrap .sep-input-group-btn:last-child > .sep-btn-group:not(:last-child) > .sep-btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.sep-wrap .sep-input-group-addon:first-child {
    border-right: 0;
}
.sep-wrap .sep-input-group .sep-form-control:last-child,
.sep-wrap .sep-input-group-addon:last-child,
.sep-wrap .sep-input-group-btn:last-child > .sep-btn,
.sep-wrap .sep-input-group-btn:last-child > .sep-btn-group > .sep-btn,
.sep-wrap .sep-input-group-btn:last-child > .sep-dropdown-toggle,
.sep-wrap .sep-input-group-btn:first-child > .sep-btn:not(:first-child),
.sep-wrap .sep-input-group-btn:first-child > .sep-btn-group:not(:first-child) > .sep-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.sep-wrap .sep-input-group-addon:last-child {
    border-left: 0;
}
.sep-wrap .sep-input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.sep-wrap .sep-input-group-btn > .sep-btn {
    position: relative;
}
.sep-wrap .sep-input-group-btn > .sep-btn + .sep-btn {
    margin-left: -1px;
}
.sep-wrap .sep-input-group-btn > .sep-btn:hover,
.sep-wrap .sep-input-group-btn > .sep-btn:focus,
.sep-wrap .sep-input-group-btn > .sep-btn:active {
    z-index: 2;
}
.sep-wrap .sep-input-group-btn:first-child > .sep-btn,
.sep-wrap .sep-input-group-btn:first-child > .sep-btn-group {
    margin-right: -1px;
}
.sep-wrap .sep-input-group-btn:last-child > .sep-btn,
.sep-wrap .sep-input-group-btn:last-child > .sep-btn-group {
    z-index: 2;
    margin-left: -1px;
}
.sep-wrap .sep-breadcrumb {
    padding: 0 0;
    margin-bottom: 24px;
    list-style: none;
    background-color: transparent;
    border-radius: 7px;
}
.sep-wrap .sep-breadcrumb > li {
    display: inline-block;
}
.sep-wrap .sep-breadcrumb > li + li:before {
    content: ">\00a0";
    padding: 0 5px;
    color: #cccccc;
}
.sep-wrap .sep-breadcrumb > .sep-active {
    color: #999999;
}
.sep-wrap .sep-clearfix:before,
.sep-wrap .sep-clearfix:after {
    content: " ";
    display: table;
}
.sep-wrap .sep-clearfix:after {
    clear: both;
}
.sep-wrap .sep-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sep-wrap .sep-pull-right {
    float: right !important;
}
.sep-wrap .sep-pull-left {
    float: left !important;
}
.sep-wrap .sep-hide {
    display: none !important;
}
.sep-wrap .sep-show {
    display: block !important;
}
.sep-wrap .sep-invisible {
    visibility: hidden;
}
.sep-wrap .sep-text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.sep-wrap .sep-hidden {
    display: none !important;
}
.sep-wrap .sep-affix {
    position: fixed;
}
@-ms-viewport {
    width: device-width;
}
.sep-wrap .sep-visible-xs,
.sep-wrap .sep-visible-sm,
.sep-wrap .sep-visible-md,
.sep-wrap .sep-visible-lg {
    display: none !important;
}
.sep-wrap .sep-visible-xs-block,
.sep-wrap .sep-visible-xs-inline,
.sep-wrap .sep-visible-xs-inline-block,
.sep-wrap .sep-visible-sm-block,
.sep-wrap .sep-visible-sm-inline,
.sep-wrap .sep-visible-sm-inline-block,
.sep-wrap .sep-visible-md-block,
.sep-wrap .sep-visible-md-inline,
.sep-wrap .sep-visible-md-inline-block,
.sep-wrap .sep-visible-lg-block,
.sep-wrap .sep-visible-lg-inline,
.sep-wrap .sep-visible-lg-inline-block {
    display: none !important;
}
@media (max-width: 767px) {
    .sep-wrap .sep-visible-xs {
        display: block !important;
    }
    table.sep-wrap .sep-visible-xs {
        display: table !important;
    }
    tr.sep-wrap .sep-visible-xs {
        display: table-row !important;
    }
    th.sep-wrap .sep-visible-xs,
    td.sep-wrap .sep-visible-xs {
        display: table-cell !important;
    }
    .sep-wrap .sep-visible-xs-block {
        display: block !important;
    }
    .sep-wrap .sep-visible-xs-inline {
        display: inline !important;
    }
    .sep-wrap .sep-visible-xs-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sep-wrap .sep-visible-sm {
        display: block !important;
    }
    table.sep-wrap .sep-visible-sm {
        display: table !important;
    }
    tr.sep-wrap .sep-visible-sm {
        display: table-row !important;
    }
    th.sep-wrap .sep-visible-sm,
    td.sep-wrap .sep-visible-sm {
        display: table-cell !important;
    }
    .sep-wrap .sep-visible-sm-block {
        display: block !important;
    }
    .sep-wrap .sep-visible-sm-inline {
        display: inline !important;
    }
    .sep-wrap .sep-visible-sm-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sep-wrap .sep-visible-md {
        display: block !important;
    }
    table.sep-wrap .sep-visible-md {
        display: table !important;
    }
    tr.sep-wrap .sep-visible-md {
        display: table-row !important;
    }
    th.sep-wrap .sep-visible-md,
    td.sep-wrap .sep-visible-md {
        display: table-cell !important;
    }
    .sep-wrap .sep-visible-md-block {
        display: block !important;
    }
    .sep-wrap .sep-visible-md-inline {
        display: inline !important;
    }
    .sep-wrap .sep-visible-md-inline-block {
        display: inline-block !important;
    }
}
@media (min-width: 1200px) {
    .sep-wrap .sep-visible-lg {
        display: block !important;
    }
    table.sep-wrap .sep-visible-lg {
        display: table !important;
    }
    tr.sep-wrap .sep-visible-lg {
        display: table-row !important;
    }
    th.sep-wrap .sep-visible-lg,
    td.sep-wrap .sep-visible-lg {
        display: table-cell !important;
    }
    .sep-wrap .sep-visible-lg-block {
        display: block !important;
    }
    .sep-wrap .sep-visible-lg-inline {
        display: inline !important;
    }
    .sep-wrap .sep-visible-lg-inline-block {
        display: inline-block !important;
    }
}
@media (max-width: 767px) {
    .sep-wrap .sep-hidden-xs {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sep-wrap .sep-hidden-sm {
        display: none !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .sep-wrap .sep-hidden-md {
        display: none !important;
    }
}
@media (min-width: 1200px) {
    .sep-wrap .sep-hidden-lg {
        display: none !important;
    }
}
.sep-wrap .sep-visible-print {
    display: none !important;
}
@media print {
    .sep-wrap .sep-visible-print {
        display: block !important;
    }
    table.sep-wrap .sep-visible-print {
        display: table !important;
    }
    tr.sep-wrap .sep-visible-print {
        display: table-row !important;
    }
    th.sep-wrap .sep-visible-print,
    td.sep-wrap .sep-visible-print {
        display: table-cell !important;
    }
}
.sep-wrap .sep-visible-print-block {
    display: none !important;
}
@media print {
    .sep-wrap .sep-visible-print-block {
        display: block !important;
    }
}
.sep-wrap .sep-visible-print-inline {
    display: none !important;
}
@media print {
    .sep-wrap .sep-visible-print-inline {
        display: inline !important;
    }
}
.sep-wrap .sep-visible-print-inline-block {
    display: none !important;
}
@media print {
    .sep-wrap .sep-visible-print-inline-block {
        display: inline-block !important;
    }
}
@media print {
    .sep-wrap .sep-hidden-print {
        display: none !important;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
        url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
        url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Simple Event Planner Plugin by PressTigers */

/*=======================================================
      TYPOGRAPHY
  ========================================================*/

.sep-wrap h1,
.sep-wrap h2,
.sep-wrap h3,
.sep-wrap h4,
.sep-wrap h5,
.sep-wrap h6 {
    text-transform: capitalize;
}
.sep-wrap h1,
.sep-wrap h2,
.sep-wrap h3,
.sep-wrap h4,
.sep-wrap h5,
.sep-wrap h6,
.sep-wrap p {
    margin-top: 0;
}
.sep-wrap a,
.sep-wrap a:hover,
.sep-wrap a:focus,
.sep-wrap a:visited {
    text-decoration: none;
    outline: none;
}

.sep-clear {
    clear: both;
    float: none;
    width: 100%;
}


/*=======================================================
      Header
  ========================================================*/

.sep-wrap .sep-logo {
    padding: 52px 0 57px;
}
.sep-wrap .sep-logo h1 {
    color: #fe4918;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
.sep-wrap .sep-logo h1 small {
    color: #262627;
    display: block;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}
.sep-wrap .sep-title-bar {
    padding: 48px 0 53px;
}
.sep-wrap .sep-title-bar {
    background: #262627;
}
.sep-wrap .sep-title-bar h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}
.sep-wrap .sep-title-bar h2 small {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 300;
}

/*=======================================================
      Simple Event Planner ---- Event Listing
  ========================================================*/

.sep-event-listing {
    padding: 0;
}
.sep-search {
    margin-bottom: 60px;
    position: relative;
}
.sep-search .sep-input {
    background: #f7f7f7;
    border: 1px solid #dfdfdf;
    color: #717171;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 46px;
    padding: 0 66px 0 20px;
    width: 100%;
}
.sep-search .sep-input::-webkit-input-placeholder {
    opacity: 1;
}
.sep-search .sep-input::-moz-placeholder {
    opacity: 1;
}
.sep-search .sep-input:-ms-input-placeholder {
    opacity: 1;
}
.sep-search .sep-input::-webkit-input-placeholder {
    opacity: 1;
}
.sep-search .sep-button,
.sep-search .sep-button-cal {
    background: #000000;
    border: 0;
    height: 46px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 46px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.sep-search .sep-button:before,
.sep-search .sep-button-cal:before {
    color: #fff;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    position: absolute;
    right: 16px;
    top: 12px;
}
.sep-search .sep-button:before {
    top: 16px;
}
.sep-search .sep-button-cal:before {
    top: 12px;
}
.sep-wrap .sep-event-listing article {
    display: block;
    float: left;
    font-size: 16px !important;
    padding: 20px;
    margin-bottom: 60px;
}
.sep-wrap .sep-event-listing article h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 9px;
}
.sep-wrap .sep-event-listing .sep-post-title a {
    text-decoration: none;
}
.sep-wrap .sep-event-listing .event-list .event-schedule {
    padding-bottom: 10px;
}
.sep-wrap .sep-event-listing .event-list .event-schedule time {
    margin-right: 55px;
}
.sep-wrap .sep-event-listing .event-schedule a {
    text-decoration: none;
}
.sep-wrap .sep-event-listing article img {
    border: 6px solid #e1e1e1;
    height: auto;
    margin-top: 4px;
    max-width: 100%;
}
.sep-wrap figure img {
    width: 100%;
}
.sep-wrap .sep-event-listing .event-list-description p {
    color: #333;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
}

/*=======================================================
      Simple Event Planner ---- Event Detail
  ========================================================*/

.sep-event-detail {
    padding: 0 0 40px;
}
.sep-single-event {
    font-size: 16px;
}
.sep-single-event h2, 
.sep-single-event h3 {
    font-weight: 500;
}
.sep-single-event h2 {
    font-size: 20px;
    margin: 0 0 20px;
}
.sep-single-event h3 {
    font-size: 16px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.sep-single-event h4 {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}
.sep-wrap .sep-countdown {  
    padding-bottom: 30px;
}
.sep-wrap .sep-countdown #countdownwrapp .main-digit-wrapp {
    border: 1px solid #e1e1e1;
    display: inline-block;
    margin-right: 2px;
    padding: 5px 0;
    text-align: center;
    width: 15.5%;
}
.sep-wrap .sep-countdown #countdownwrapp .digit-wrapp {
    color: #fe4918;
    font-size: 18px;
    display: block;
}
.sep-event-schedule .sep-row > div {
    margin-bottom: 10px;
}
.sep-event-schedule h4 {
    display: inline;
}
.sep-event-schedule time {
    color: 303030;
}
.sep-event-description {
    margin-bottom: 15px;
}
.sep-event-description img {
    border: 0;
    height: auto;
    margin-top: 3px;
    max-width: 100%;
}
.sep-event-description .single-event-description p {
    color: #333;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 17px;
    text-align:left; 
}
.sep-event-category h4 {
    text-align: left;
    text-transform: lowercase;
}
.sep-event-organizer {
    padding: 30px 0;
}
.sep-event-organizer span a,
.sep-event-organizer span a:focus {
    color: #333;
    text-decoration: none;
}
.sep-event-organizer span a:hover {
    color: #262626;
}
.sep-event-segment ul {
    padding-left: 15px;
}
.sep-event-info {
    margin-bottom: 15px;
}
.sep-venue-map iframe {
    border: 0;
    height: 235px;
    width: 100%;
}

/*=======================================================
      Simple Event Planner ---- Event Calendar
  ========================================================*/

.sep-wrap .sep-event-calendar {
    padding: 60px 0;
}
.sep-wrap .sep-event-calendar .sep-search {
    margin-bottom: 30px;
    float: left;
    width: 100%;
}
.sep-wrap .simple-event-calendar {
    border: 1px solid #ececec;
    float: left;
    width: 100%;
}
.sep-wrap .hidden {
    display: none;
}
.sep-wrap .eventCalendar-wrap { 
    position: relative; 
    overflow: hidden;
}
.sep-wrap .eventCalendar-wrap .arrow { 
    position: absolute; 
    z-index: 5; 
    top: 3px;
}
.sep-wrap .eventCalendar-wrap .prev {
    left: 10px;
}
.sep-wrap .eventCalendar-wrap .next {
    right: 10px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-currentTitle a:link{
    border-bottom: none ;
    box-shadow: none;
}
.eventsCalendar-monthWrap.oldMonth ~ .eventsCalendar-monthWrap.currentMonth {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap.currentMonth { 
    border-bottom: 1px solid #ececec;
    float: left;
    width: 100%;
    z-index: 1;
}	
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList { 
    display: table;
    width: 100%;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek {
    display: block;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li {
    display: table-cell;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.dayWithEvents
{
    background-color: #3399fe;
} 
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.current {
    background: none;
} 
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek li {
    display: block;
    float: left;
    width: 14.28%;
    width: calc(100% / 7);
    height: 20px;
    text-align: center;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li a {
    padding: 0;
    display: inline-block;
    width: 90px;
    height: 45px;
    line-height: 40px;
    border-radius: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-loading {
    display: block;
    min-width: 100px;
    height: 40px;
    line-height: 40px;
}	
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list {
    position: relative;
    z-index: 1;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap ul.eventsCalendar-list {
    list-style: none !important;
    padding: 0 37px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li a{
    border-bottom: none;
}	
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li a:hover{
    text-decoration: none;
    border-bottom: none;
}	
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list.oldEventList {
    z-index: 2;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-subtitle {
    font-size: 18px;
    font-weight: 700;
    padding: 0 0 1px 30px;
}
.sep-wrap .eventCalendar-wrap {
    box-shadow: none;
    border-radius: 0;
    color: #333;
    float: left;
    width: 100%;
}
.sep-wrap .eventCalendar-wrap .arrow {
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    line-height: 28px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    text-decoration: none;
    top: 15px;
    text-align: center;
}
.sep-wrap .eventCalendar-wrap .arrow:hover {
    color: #fff;
    opacity:0.7;
}
.sep-wrap .eventCalendar-wrap .arrow:focus {
    color: #fff;
}
.sep-wrap .eventCalendar-wrap .arrow span {
    height: 0;
    width: 0;
    line-height: 0;
    position: relative;
    float: left;
    text-indent: -5000px;
}
.sep-wrap .eventCalendar-wrap .arrow.prev span {
    position: relative;
}
.sep-wrap .eventCalendar-wrap .arrow.prev:after{
    position: absolute;
    content: "\e079";
    font-family: 'Glyphicons Halflings';
    left: 0;
    top: 0;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    height: 14px;
    width: 14px;
}
.sep-wrap .eventCalendar-wrap .arrow.next:after{
    position:absolute;
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    left: 0;
    top: 0;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    height: 14px;
    width: 14px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider {
    height: 80px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap {
    border-radius: 0;
    top: 0;
    left: 0;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-currentTitle {
    line-height: 25px;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-currentTitle .monthTitle {
    font-size: 22px;
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    float: none;
    text-decoration: none;
    padding: 0 10px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList {
    zoom: 1;
    padding: 0;
    width: 100%;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek {
    margin: 0;
    width: auto;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showDayNames.showAsWeek {
    border-radius: 0;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList:before,
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList:after {
    content: "";
    display: table;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList:after {
    clear: both;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day-header {
    border-bottom: 1px solid #f3f3f3;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 0;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek li {
    height: auto;
    margin: 0;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek li.empty {
    min-height: 29px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day {
    border-left: solid 1px #bcbcbc;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day a  {
    border: solid 1px #bcbcbc;
    border-width: 0 1px 1px 0;
    color: #424242;
    font-size: 16px;
    text-decoration: none;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .showAsWeek .eventsCalendar-day {
    border-left-width: 0;
    *padding: 5px 0;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .showAsWeek .eventsCalendar-day a  {
    border: 0;
    box-shadow: none;
    margin: 10px 0;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day a:hover {
    color: #fff;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.today a {
    color: #fff;
    text-decoration: none;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.dayWithEvents a {
    color: #fff;
    background: #fe4918;
    font-weight: 700;
    position: relative;
    text-decoration: none;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.eventsCalendar-day.dayWithEvents a:hover {
    background-color: #424242;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.current a {
    color: #fff;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.eventsCalendar-day.current a:hover {
    color: #fff;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-loading {
    margin: 5px auto;
    padding: 0 10px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-loading.error {
    background-color: #fe4918;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-subtitle {
    padding-top: 0px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap {
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    float: left;
    min-height: 100px;
    padding: 22px 0 0;
    position: relative;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list .eventsCalendar-noEvents p {
    margin: 0px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list-content.scrollable {
    height: 100px;
    overflow-y: auto;
    margin: 0 5px 5px 0;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list {
    margin: 0 -10px 12px;
    padding: 0;
    list-style-type: none;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li {
    padding: 0 5px 5px;
    margin: 0;
    clear: both;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li time {
    font-size: 10px;
    line-height: 13px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li time em {
    float: left;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 8px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li time small {
    clear: both;
    color: #fff;
    float: left;
    font-size: 12px;
    line-height: normal;
    margin: 0 0 5px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li .eventTitle {
    box-shadow: none;
    clear: both;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 3px;
    text-decoration: none;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li a.eventTitle:hover {
    text-decoration: none;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list li .eventDesc {
    clear: both;
    margin: 0 0 12px;
    font-size: 12px;
    line-height: 1.2em;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-list-wrap .eventsCalendar-list .eventsCalendar-noEvents {
    font-size: 120%;
    margin: 5px;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

/* Event Listing -> Pagination */
ul.page-numbers {
    margin: 20px 0 20px !important;
    width: 100%;
    padding: 0;
    font-size: 12px;
    line-height: normal;
    clear: both;
    float: left;
    list-style: none !important;
}
ul.page-numbers li {
    float: left;
    margin: 0;
}
ul.page-numbers a,
ul.page-numbers span {   
    background: -webkit-gradient(linear, left top, left bottom, from(#E4E3E3), to(#FFFFFF));
    background: -moz-linear-gradient(top,  #E4E3E3,  #FFFFFF);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E3E3', endColorstr='#FFFFFF');
    padding: 5px 12px 5px 12px; 
    margin: 2px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #666;
}
ul.page-numbers a:hover,
ul.page-numbers span.current {  
    background: #fe4918;
    border-color:#fe4918;
    color: #fff;
}

/* Twenty Theme's Styles */
.twentyfourteen .sep-wrap, .twentyfifteen .sep-wrap, .twenty-eleven .sep-wrap, .twentysixteen .sep-wrap{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.sep-content {
    margin-top: 40px;
}
.sep-archive-title h2{
    margin-bottom: 20px;
    color: #fe4918;
    font-weight: bold;
    font-size: 24px;
}

/*=======================================================
      Simple Event Planner ---- Responsive
  ========================================================*/

@media (min-width: 992px) and (max-width: 1199px) {
    .sep-wrap .sep-countdown #countdownwrapp .main-digit-wrapp {
        width: 18.6%;
    }
}
@media (max-width: 991px) {
    .sep-wrap .sep-event-listing .event-list-description,
    .sep-event-description .single-event-description {
        clear: both;
    }
    .sep-event-listing article img,
    .sep-event-description img {
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .sep-wrap .sep-countdown #countdownwrapp .main-digit-wrapp {
        width: 17.3%;
    }
}
@media (max-width: 767px) {
    .sep-wrap .sep-countdown #countdownwrapp .main-digit-wrapp {
        width: 19%;
    }
    .sep-wrap .event-list .event-schedule time {
        display: block;
        margin: 0;
    }
    .sep-event-category h4 {
        text-align: left;
        margin-bottom: 21px;
    }
    .sep-event-organizer span {
        display: block;
        margin-bottom: 10px;
    }
    .sep-event-segment {
        margin-bottom: 19px;
    }
    .sep-timing{
        padding-left:11px; 
        padding-right:9px;
    }
}

/* Search */
.sep-search .sep-input{
    background-color: #fff;
    border: 1px solid #e9e9e9;
    color: #27292c;
    height: 34px;
    margin: 0;
    padding-left: 10px;
}
.sep-search .sep-button::before,
.sep-search .sep-button-cal::before{
    top: 8px;
}
.sep-search .sep-button, .sep-search .sep-button-cal{
    height: 34px;
}

/*Event Listing*/
.sep-wrap .sep-event-listing article{
    padding: 0px 15px;
}
.sep-wrap .sep-event-listing article img{
    border: none;
    margin-top: 0;
}
.sep-wrap .sep-event-listing article h2{
    margin-bottom: 0;
}
.sep-wrap .sep-event-listing .sep-post-title a{
    font-weight: bold;
    font-size: 18px;
}
.sep-wrap .sep-event-listing .event-list .event-plan .event-schedule{
    padding-bottom: 0;
}
.sep-wrap .sep-event-listing .event-list .date-style{
    float: left;
    position: absolute;
    color: #fff;
    top: 0;
    height: 100%;
    width: 90px;
    text-align: center;
    padding-top: 26px;
}
.sep-wrap .sep-event-listing .event-list .date-text{
    float: left;
    position: absolute;
    color: #fff;
    top: 0;
    height: 100%;
    width: 90px;
    text-align: center;
    padding-top: 26px;
    z-index: 999;
}
.sep-wrap .sep-event-listing .event-list a{
    position: relative;
    display: block;
}
.sep-wrap .sep-event-listing .event-list .sep-map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 15%;
}
.sep-wrap .sep-event-listing .event-list .sep-details{
    padding: 30px 0 30px 30px;
    width: 85%;
}
.sep-wrap .sep-event-listing .event-list .sep-content{
    margin: 0;
    position: relative;
    width: 100%;
    float: left;
    height: auto;
    
}
.sep-wrap .sep-event-listing .map-style{
    padding: 41px 10px;
}
.sep-wrap .sep-event-listing .map-style i,
.sep-wrap .sep-event-listing .map-style a{
    color: #fff;
}
.sep-event-listing article img, .sep-event-description img{
    margin-bottom: 0;
}
.sep-wrap .simple-event-calendar{
    margin-bottom: 80px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .showAsWeek .eventsCalendar-day.empty{
    height: 51px;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .showAsWeek .eventsCalendar-day{
    border-left: solid 1px #ececec;
    border-top: solid 1px #ececec;
}
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .showAsWeek .eventsCalendar-day:hover,
.sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .showAsWeek .eventsCalendar-day:hover a{
    background-color: #424242;
    color: #fff;
}
.entry-content a, .entry-summary a, .taxonomy-description a, .logged-in-as a, .comment-content a, .pingback .comment-body > a, .textwidget a, .entry-footer a:hover, .site-info a:hover{
    box-shadow: none !important;
}
.entry-content a, .entry-summary a, .page-content a, .comment-content a, .pingback .comment-body > a{
    border: none !important;
}
.sep-wrap .eventCalendar-wrap .arrow,
.sep-wrap .eventCalendar-wrap .arrow:focus,
.sep-wrap .eventCalendar-wrap .arrow:hover{
    color: #363e40;
}
@media (min-width: 320px) and (max-width: 991px){
    .sep-wrap .sep-event-listing .event-list .sep-map{
        float: left;
        width: 100%;
    }
    .sep-wrap .sep-event-listing .map-style{
        padding: 15px 10px;
    }
    .sep-wrap .sep-event-listing .event-list .sep-details{
        width: 90%;
    }
    .sep-wrap .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li a {
        width: 40px;
        height: 40px;
    }
}
.sep-wrap .sep-event-listing article{
    width: 100%;
}
/*
* Event Single Detail
*/
.sep-wrap .sep-single-date{
    margin-bottom: 30px;
}
.sep-wrap .sep-event-title h2{
    margin: 16px 0;
}
.sep-wrap .sep-event-venue{
    padding: 30px 0;
}
.sep-wrap .sep-single-segments{
    padding: 30px 0;
}
.sep-wrap .sep-single-event-time{
    padding: 30px 0;
}
.sep-wrap .sep-single-date strong{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 0;
}
.sep-wrap table{
    border-width: 0;
    margin: 0;
}
.sep-wrap table, th, td{
    border: none !important;
}
.sep-wrap .sep-single-event-details{
    border-right: solid 1px #ececec;
}
.sep-wrap .sep-event-schedule{
    border-bottom: solid 1px #ececec;
}
.sep-wrap .sep-event-organizer{
    border-bottom: solid 1px #ececec;
}
.sep-wrap .sep-event-venue{
    border-bottom: solid 1px #ececec;
}
.sep-wrap .sep-single-event-time{
    border-bottom: solid 1px #ececec;
}
.sep-wrap .sep-segments-style {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
.sep-wrap .sep-segments-style .timeline{
    background: #c8dcde none repeat scroll 0 0;
    height: 100%;
    left: 5px;
    position: absolute;
    top: 0;
    width: 2px;
}
.sep-wrap .sep-segments-style .item:before{
    content: "";
    font-family: "FontAwesome";
    font-size: 13px;
    font-weight: normal;
    line-height: 1em;
    padding-right: 5px;
    margin-left: 0.8px;
}
.sep-wrap .sep-table-responsive{
    width: 100%;
}
.sep-wrap .sep-table-responsive th{
    width: 20%;
}
.simple-event-calendar ul > li::before {
    content: "" !important;
    padding-right: 0 !important;
}
@media (min-width: 320px) and (max-width: 767px){
    .sep-wrap .sep-event-listing article{
        width:100%;
    }
}