/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #f1f1f1;
}
a:active,
a:hover {
  outline: 0;
}
.list-container {
  width: 1170px;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
.listiger-wrap .list-legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.listiger-wrap output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
.listiger-wrap .list-form-control {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.listiger-wrap .list-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.listiger-wrap .list-form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.listiger-wrap .list-form-control:-ms-input-placeholder {
  color: #999;
}
.listiger-wrap .list-form-control::-webkit-input-placeholder {
  color: #999;
}
.listiger-wrap .list-form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
.listiger-wrap .list-form-control[disabled],
.listiger-wrap .list-form-control[readonly],
fieldset[disabled] .listiger-wrap .list-form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.listiger-wrap .list-form-control[disabled],
fieldset[disabled] .listiger-wrap .list-form-control {
  cursor: not-allowed;
}
textarea.listiger-wrap .list-form-control {
  height: auto;
}
.listiger-wrap input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .listiger-wrap input[type="date"].listform-control,
  .listiger-wrap input[type="time"].listform-control,
  .listiger-wrap input[type="datetime-local"].listform-control,
  .listiger-wrap input[type="month"].listform-control {
    line-height: 30px;
  }
  .listiger-wrap input[type="date"].input-sm,
  .listiger-wrap input[type="time"].input-sm,
  .listiger-wrap input[type="datetime-local"].input-sm,
  .listiger-wrap input[type="month"].input-sm,
  .listinput-group-sm .listiger-wrap input[type="date"],
  .listinput-group-sm .listiger-wrap input[type="time"],
  .listinput-group-sm .listiger-wrap input[type="datetime-local"],
  .listinput-group-sm .listiger-wrap input[type="month"] {
    line-height: 30px;
  }
  .listiger-wrap input[type="date"].input-lg,
  .listiger-wrap input[type="time"].input-lg,
  .listiger-wrap input[type="datetime-local"].input-lg,
  .listiger-wrap input[type="month"].input-lg,
  .listinput-group-lg .listiger-wrap input[type="date"],
  .listinput-group-lg .listiger-wrap input[type="time"],
  .listinput-group-lg .listiger-wrap input[type="datetime-local"],
  .listinput-group-lg .listiger-wrap input[type="month"] {
    line-height: 46px;
  }
}
.listiger-wrap .listform-group {
  margin-bottom: 15px;
}
.listiger-wrap .radio,
.listiger-wrap .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.listiger-wrap .radio label,
.listiger-wrap .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.listiger-wrap .radio input[type="radio"],
.listiger-wrap .radio-inline input[type="radio"],
.listiger-wrap .checkbox input[type="checkbox"],
.listiger-wrap .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.listiger-wrap .radio + .radio,
.listiger-wrap .checkbox + .checkbox {
  margin-top: -5px;
}
.listiger-wrap .radio-inline,
.listiger-wrap .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.listiger-wrap .radio-inline + .radio-inline,
.listiger-wrap .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
.listiger-wrap input[type="radio"][disabled],
.listiger-wrap input[type="checkbox"][disabled],
.listiger-wrap input[type="radio"].disabled,
.listiger-wrap input[type="checkbox"].disabled,
fieldset[disabled] .listiger-wrap input[type="radio"],
fieldset[disabled] .listiger-wrap input[type="checkbox"] {
  cursor: not-allowed;
}
.listiger-wrap .radio-inline.disabled,
.listiger-wrap .checkbox-inline.disabled,
fieldset[disabled] .listiger-wrap .radio-inline,
fieldset[disabled] .listiger-wrap .checkbox-inline {
  cursor: not-allowed;
}
.listiger-wrap .radio.disabled label,
.listiger-wrap .checkbox.disabled label,
fieldset[disabled] .listiger-wrap .radio label,
fieldset[disabled] .listiger-wrap .checkbox label {
  cursor: not-allowed;
}
.listiger-wrap .form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}
.listiger-wrap .form-control-static.input-lg,
.listiger-wrap .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.listiger-wrap .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.listiger-wrap .input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.listiger-wrap .input-sm,
select[multiple].listiger-wrap .input-sm {
  height: auto;
}
.listiger-wrap .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.listiger-wrap .form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}
.listiger-wrap .form-group-sm textarea.form-control,
.listiger-wrap .form-group-sm select[multiple].form-control {
  height: auto;
}
.listiger-wrap .form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.listiger-wrap .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.listiger-wrap .input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.listiger-wrap .input-lg,
select[multiple].listiger-wrap .input-lg {
  height: auto;
}
.listiger-wrap .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.listiger-wrap .form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}
.listiger-wrap .form-group-lg textarea.form-control,
.listiger-wrap .form-group-lg select[multiple].form-control {
  height: auto;
}
.listiger-wrap .form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.listiger-wrap .has-feedback {
  position: relative;
}
.listiger-wrap .has-feedback .form-control {
  padding-right: 37.5px;
}
.listiger-wrap .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  pointer-events: none;
}
.listiger-wrap .input-lg + .form-control-feedback,
.listiger-wrap .input-group-lg + .form-control-feedback,
.listiger-wrap .form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.listiger-wrap .input-sm + .form-control-feedback,
.listiger-wrap .input-group-sm + .form-control-feedback,
.listiger-wrap .form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.listiger-wrap .has-success .help-block,
.listiger-wrap .has-success .control-label,
.listiger-wrap .has-success .radio,
.listiger-wrap .has-success .checkbox,
.listiger-wrap .has-success .radio-inline,
.listiger-wrap .has-success .checkbox-inline,
.listiger-wrap .has-success.radio label,
.listiger-wrap .has-success.checkbox label,
.listiger-wrap .has-success.radio-inline label,
.listiger-wrap .has-success.checkbox-inline label {
  color: #3c763d;
}
.listiger-wrap .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.listiger-wrap .has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.listiger-wrap .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.listiger-wrap .has-success .form-control-feedback {
  color: #3c763d;
}
.listiger-wrap .has-warning .help-block,
.listiger-wrap .has-warning .control-label,
.listiger-wrap .has-warning .radio,
.listiger-wrap .has-warning .checkbox,
.listiger-wrap .has-warning .radio-inline,
.listiger-wrap .has-warning .checkbox-inline,
.listiger-wrap .has-warning.radio label,
.listiger-wrap .has-warning.checkbox label,
.listiger-wrap .has-warning.radio-inline label,
.listiger-wrap .has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.listiger-wrap .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.listiger-wrap .has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.listiger-wrap .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.listiger-wrap .has-warning .form-control-feedback {
  color: #8a6d3b;
}
.listiger-wrap .has-error .help-block,
.listiger-wrap .has-error .control-label,
.listiger-wrap .has-error .radio,
.listiger-wrap .has-error .checkbox,
.listiger-wrap .has-error .radio-inline,
.listiger-wrap .has-error .checkbox-inline,
.listiger-wrap .has-error.radio label,
.listiger-wrap .has-error.checkbox label,
.listiger-wrap .has-error.radio-inline label,
.listiger-wrap .has-error.checkbox-inline label {
  color: #a94442;
}
.listiger-wrap .has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.listiger-wrap .has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.listiger-wrap .has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.listiger-wrap .has-error .form-control-feedback {
  color: #a94442;
}
.listiger-wrap .has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.listiger-wrap .has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.listiger-wrap .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .listiger-wrap .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .listiger-wrap .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .listiger-wrap .form-inline .form-control-static {
    display: inline-block;
  }
  .listiger-wrap .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .listiger-wrap .form-inline .input-group .input-group-addon,
  .listiger-wrap .form-inline .input-group .input-group-btn,
  .listiger-wrap .form-inline .input-group .form-control {
    width: auto;
  }
  .listiger-wrap .form-inline .input-group > .form-control {
    width: 100%;
  }
  .listiger-wrap .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .listiger-wrap .form-inline .radio,
  .listiger-wrap .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .listiger-wrap .form-inline .radio label,
  .listiger-wrap .form-inline .checkbox label {
    padding-left: 0;
  }
  .listiger-wrap .form-inline .radio input[type="radio"],
  .listiger-wrap .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .listiger-wrap .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.listiger-wrap .form-horizontal .radio,
.listiger-wrap .form-horizontal .checkbox,
.listiger-wrap .form-horizontal .radio-inline,
.listiger-wrap .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.listiger-wrap .form-horizontal .radio,
.listiger-wrap .form-horizontal .checkbox {
  min-height: 27px;
}
@media (min-width: 768px) {
  .listiger-wrap .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.listiger-wrap .form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .listiger-wrap .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .listiger-wrap .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
.listiger-wrap .list-meta-option {
  overflow: hidden;
  margin: 15px 0;
}
.listiger-wrap .list-meta-option:last-child {
  margin-bottom: 25px;
}
.listiger-wrap .list-meta-option label {
  display: inline-block;
  width: 20%;
  color: #444444;
  background-color: transparent;
  float: left;
  line-height: 46px;
  font-size: 14px;
  vertical-align: middle;
}
.listiger-wrap .list-meta-option label:hover {
  color: #444444;
}
.listiger-wrap .list-meta-option .list-meta-option-field {
  width: 80%;
  float: left;
}
.listiger-wrap .list-meta-option .list-meta-option-field fieldset {
  border: none;
}
.listiger-wrap .list-meta-option .list-meta-option-field .list-meta-option-checkbox .list-switch {
    margin-top: 10px;
    display: inline-block;
    width: 46px;
    height: 22px;
    position: relative;
}
.listiger-wrap .list-meta-option .list-meta-option-field .list-meta-option-checkbox .list-switch input[type="checkbox"] {
  display: none;
}
.listiger-wrap .list-meta-option .list-meta-option-field .list-meta-option-checkbox .list-switch input[type="checkbox"]:checked + .list-slider {
  background-color: #2196F3;
}
.listiger-wrap .list-meta-option .list-meta-option-field .list-meta-option-checkbox .list-switch input[type="checkbox"]:checked + .list-slider:before {
  -webkit-transform: translateX(26px);
  -moz-transform: translateX(26px);
  -ms-transform: translateX(26px);
  -o-transform: translateX(26px);
  transform: translateX(26px);
}
.listiger-wrap .list-meta-option .list-meta-option-field .list-meta-option-checkbox .list-switch .list-slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.listiger-wrap .list-meta-option .list-meta-option-field .list-meta-option-checkbox .list-switch .list-slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 2px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
