@charset "UTF-8";
/*
Plugin Name: Simple Event Planner
Plugin URI: https://wordpress.org/plugins/simple-event-planner/
Author: PressTigers
Author URI: http://www.presstigers.com
Version: 2.1.0
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Bootstrap
2. Simple Event Planner
    2.1. Reset and dependencies
    2.2. Components
    2.3. Pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1. Bootstrap
--------------------------------------------------------------*/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ababab;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #3297fa;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #02305e;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-circle {
  border-radius: 50%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 15px 15px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #3297fa;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #02305e;
  background-color: #f2f2f2;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #3297fa;
  border-color: #3297fa;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #e1e1e1;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-primary {
  color: #3297fa;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #067ef3;
}
.bg-primary {
  color: #fff;
  background-color: #3297fa;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #067ef3;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
table {
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.form-control {
  display: block;
  width: 100%;
  height: 52px;
  padding: 15px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ababab;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #e1e1e1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control::-moz-placeholder {
  color: #666;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #666;
}
.form-control::-webkit-input-placeholder {
  color: #666;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 52px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 44px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/*--------------------------------------------------------------
2. Simple Event Planner
--------------------------------------------------------------*/
/* Reset and dependencies */
.sep-page ::-moz-selection {
  background: #3297fa;
  color: #fff;
}
.sep-page ::selection {
  background: #3297fa;
  color: #fff;
}
.sep-page a {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sep-page a:hover,
.sep-page a:focus {
  outline: none;
  text-decoration: none;
}
.sep-page .btn {
  border: 0;
  font-size: 14px;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sep-page img {
  height: auto;
  max-width: 100%;
}
/* Components */
.sep-page .sep-filters {
  background-color: #f2f2f2;
  border: 0;
  margin: 30px 0 15px;
  padding: 35px 30px 0;
}
.sep-page .sep-filters .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 16px;
  height: 40px;
  margin-bottom: 35px;
}
.sep-page .sep-filters select {
  -moz-appearance: inherit;
  -webkit-appearance: inherit;
  background: #fff url("../images/select-arrow.png") no-repeat center right 10px;
}
.sep-page .pagination {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  float: left;
  margin: 15px 0 30px;
  width: 100%;
}
.sep-page .pagination li a {
  border-color: #e1e1e1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #363e40;
  font-weight: 300;
  margin: 0 5px;
  padding: 7px 0px;
  text-align: center;
  width: 36px;
}
@media (max-width: 767px) {
  .sep-page .pagination li a {
    margin: 0 3px;
    text-align: center;
  }
}
.sep-page .pagination li a:hover {
  color: #fff;
  background-color: #3297fa;
  border-color: #3297fa;
}
.sep-page .pagination li:first-child a {
  margin-left: 0;
}
.sep-page .pagination li:last-child a {
  margin-right: 0;
}
/* Pages */
.sep-page .listing .search {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
.sep-page .listing .search input {
  width: 100%;
}
.sep-page .listing .search button {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3297fa;
  color: #fff;
  border: none;
  padding: 11px 5px;
}
.sep-page .list-view article {
  background: #f7f7f7;
  overflow: hidden;
  float: left;
  width: 100%;
  margin: 20px 0;
}
.sep-page .list-view article:first-child {
  margin-top: 0;
}
.sep-page .list-view article figure img {
  width: 100%;
}
.sep-page .list-view article .date {
  background-color: #3297fa;
  color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 15%;
}
@media (max-width: 768px) {
  .sep-page .list-view article .date {
    position: relative;
    width: 100%;
  }
}
.sep-page .list-view article .date .date-style {
  padding: 20% 0;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .sep-page .list-view article .date .date-style {
    padding: 3% 0;
  }
}
.sep-page .list-view article .date .date-style strong {
  font-size: 24px;
  font-weight: bold;
}
.sep-page .list-view article .description {
  margin-left: 15%;
  padding: 30px;
}
@media (max-width: 768px) {
  .sep-page .list-view article .description {
    margin-left: 0;
  }
}
.sep-page .list-view article .description h4 {
  margin-bottom: 6px;
}
.sep-page .list-view article .description h4 a {
  color: #363e40;
  font-weight: bold;
}
.sep-page .list-view article .description .location {
  margin-bottom: 4px;
}
.sep-page .list-view article .description .location a {
  font-size: 18px;
  color: #ababab;
}
.sep-page .list-view article .description .time time {
  color: #ababab;
  font-size: 14px;
}
.sep-page .form-control {
  height: 42px;
  border-radius: none;
}
.sep-page .grid .search {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
.sep-page .grid .search input {
  width: 100%;
}
.sep-page .grid .search button {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3297fa;
  color: #fff;
  border: none;
  padding: 11px 5px;
}
.sep-page .grid-view [class*="col-sm-"] {
  margin-bottom: 40px;
}
.sep-page .grid-view [class*="col-sm-"]:nth-child(3n+1) {
  clear: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sep-page .grid-view [class*="col-sm-"]:nth-child(3n+1) {
    clear: none;
  }
}
.sep-page .grid-view article {
  background: #f7f7f7;
}
.sep-page .grid-view article:first-child {
  margin-top: 0;
}
.sep-page .grid-view article figure img {
  width: 100%;
}
.sep-page .grid-view article .date {
  background-color: #3297fa;
  color: #fff;
  position: relative;
  width: 100%;
}
.sep-page .grid-view article .date .date-style {
  padding: 4% 0;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
.sep-page .grid-view article .date .date-style strong {
  font-size: 24px;
  font-weight: bold;
}
.sep-page .grid-view article .description {
  margin-left: 0;
  padding: 30px;
}
.sep-page .grid-view article .description h4 {
  margin-bottom: 6px;
}
.sep-page .grid-view article .description h4 a {
  color: #363e40;
  font-weight: bold;
}
.sep-page .grid-view article .description .location {
  margin-bottom: 4px;
}
.sep-page .grid-view article .description .location a {
  font-size: 18px;
  color: #ababab;
}
.sep-page .grid-view article .description .time time {
  color: #ababab;
  font-size: 14px;
}
.sep-page .sep-calendar {
  margin: 30px 0 0;
  overflow: hidden;
}
.sep-page .sep-calendar .search {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
.sep-page .sep-calendar .search input {
  width: 100%;
}
.sep-page .sep-calendar .search button {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3297fa;
  color: #fff;
  border: none;
  padding: 11px 5px;
}
.sep-page .sep-calendar .simple-event-calendar {
  border: 1px solid #ececec;
  float: left;
  width: 100%;
}
.sep-page .sep-calendar .hidden {
  display: none;
}
.sep-page .sep-calendar .eventCalendar-wrap {
  position: relative;
  overflow: hidden;
  box-shadow: none;
  border-radius: 0;
  color: #333;
  float: left;
  width: 100%;
}
.sep-page .sep-calendar .eventCalendar-wrap .arrow {
  position: absolute;
  z-index: 5;
  top: 3px;
  border: 1px solid #fff;
  border-radius: 100%;
  color: #fff;
  line-height: 28px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-decoration: none;
  top: 15px;
  text-align: center;
}
.sep-page .sep-calendar .eventCalendar-wrap .arrow:hover {
  color: #fff;
  opacity: 0.7;
}
.sep-page .sep-calendar .eventCalendar-wrap .arrow:focus {
  color: #fff;
}
.sep-page .sep-calendar .eventCalendar-wrap .arrow span {
  height: 0;
  width: 0;
  line-height: 0;
  position: relative;
  float: left;
  text-indent: -5000px;
}
.sep-page .sep-calendar .eventCalendar-wrap .arrow.prev span {
  position: relative;
}
.sep-page .sep-calendar .eventCalendar-wrap .prev {
  left: 10px;
}
.sep-page .sep-calendar .eventCalendar-wrap .prev i {
  color: #ababab;
}
.sep-page .sep-calendar .eventCalendar-wrap .next {
  right: 10px;
}
.sep-page .sep-calendar .eventCalendar-wrap .next i {
  color: #ababab;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider {
  height: 80px;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap {
  border-radius: 0;
  top: 0;
  left: 0;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-currentTitle {
  line-height: 25px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-currentTitle .monthTitle {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  float: none;
  text-decoration: none;
  padding: 0 10px;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap.currentMonth {
  border-bottom: 1px solid #ececec;
  float: left;
  width: 100%;
  z-index: 1;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList {
  display: table;
  zoom: 1;
  padding: 0;
  width: 100%;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day-header {
  border-bottom: 1px solid #f3f3f3;
  color: #fff;
  background-color: #3297fa;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 6px 0;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day a {
  color: #424242;
  font-size: 16px;
  text-decoration: none;
  border: 0;
  box-shadow: none;
  margin: 10px 0;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day li.current a {
  color: #fff;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day li .eventsCalendar-day.dayWithEvents a:hover {
  background-color: #424242;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day li.dayWithEvents a {
  color: #fff;
  background: #fe4918;
  font-weight: 700;
  position: relative;
  text-decoration: none;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day li.today {
  background-color: #3297fa;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList .eventsCalendar-day li.today a {
  color: #fff;
  text-decoration: none;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList:before {
  content: "";
  display: table;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList:after {
  content: "";
  display: table;
  clear: both;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek {
  display: block;
  margin: 0;
  width: auto;
  border-radius: 0;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek .eventsCalendar-day {
  border-left: solid 1px #ececec;
  border-bottom: solid 1px #ececec;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek .eventsCalendar-day:last-child {
  border-right: solid 1px #ececec;
  border-bottom: solid 0px #ececec;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek .eventsCalendar-day:nth-child(7n+1) {
  border-left: solid 0px #ececec;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek .eventsCalendar-day:hover {
  background-color: #424242;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek .eventsCalendar-day:hover a {
  color: #fff;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek .eventsCalendar-day.empty {
  height: 66px;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek li {
  display: block;
  float: left;
  width: 14.28%;
  width: calc(14.28571429%);
  height: 20px;
  text-align: center;
  height: auto;
  margin: 0;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList.showAsWeek li .empty {
  min-height: 66px;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li {
  display: table-cell;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.dayWithEvents {
  background-color: #3399fe;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li.current {
  background: none;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-slider .eventsCalendar-monthWrap .eventsCalendar-daysList li a {
  padding: 0;
  display: inline-block;
  width: 90px;
  height: 45px;
  line-height: 40px;
  border-radius: 0;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-loading {
  display: block;
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 5px auto;
  padding: 0 10px;
  color: #000;
  text-align: center;
  font-weight: bold;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-loading.error {
  background-color: #fe4918;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-list {
  position: relative;
  z-index: 1;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-list li a {
  border-bottom: none;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-list li a:hover {
  text-decoration: none;
  border-bottom: none;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-list .oldEventList {
  z-index: 2;
}
.sep-page .sep-calendar .eventCalendar-wrap ul.eventsCalendar-list {
  list-style: none !important;
  padding: 0 37px;
}
.sep-page .sep-calendar .eventCalendar-wrap .eventsCalendar-subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-top: 35px;
  padding-left: 35px;
}
.sep-page .sep-calendar .form-control {
  height: 42px;
  border-radius: none;
}
.sep-page .sep-detail {
  margin: 30px 0 0;
  overflow: hidden;
}
.sep-page .sep-detail .single-date {
  padding-bottom: 30px;
}
.sep-page .sep-detail .single-date ul {
  padding: 0;
}
.sep-page .sep-detail .single-date ul li {
  list-style-type: none;
  display: inline;
  font-weight: bold;
}
.sep-page .sep-detail .single-date ul li:first-child {
  font-size: 30px;
  color: #363e40;
}
.sep-page .sep-detail .single-date ul li:nth-child(2):after {
  content: ",";
}
.sep-page .sep-detail .single-event-details {
  border-right: 1px solid #e1e1e1;
}
.sep-page .sep-detail .main-digit-wrapp {
  display: inline-block;
}
.sep-page .sep-detail .main-digit-wrapp .digit-wrapp {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  letter-spacing: -1px;
  padding: 2px 10px;
  background: rgba(255, 255, 255, 0.2);
}
.sep-page .sep-detail .main-digit-wrapp .cs-digit {
  margin: 0;
  padding: 0;
}
.sep-page .sep-detail .main-digit-wrapp .countdown-period {
  font-size: 12px;
  color: #fff;
  margin-left: 0;
  text-align: center;
  display: block;
  width: 100%;
}
.sep-page .sep-detail .event-schedule {
  text-align: left;
  font-size: 16px;
  color: #363e40;
  border-bottom: 1px solid #e1e1e1;
}
.sep-page .sep-detail .event-schedule strong {
  font-size: 30px;
  color: #363e40;
}
.sep-page .sep-detail .event-organizer {
  padding: 30px 0;
  border-bottom: 1px solid #e1e1e1;
}
.sep-page .sep-detail .event-organizer h3 {
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #363e40;
}
.sep-page .sep-detail .event-organizer strong {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  display: block;
  color: #363e40;
}
.sep-page .sep-detail .event-organizer span {
  font-size: 16px;
  color: #ababab;
  margin-bottom: 15px;
  display: block;
}
.sep-page .sep-detail .single-event-time {
  padding: 30px 0;
  border-bottom: 1px solid #e1e1e1;
}
.sep-page .sep-detail .single-event-time h3 {
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #363e40;
}
.sep-page .sep-detail .single-event-time .event-date-time strong {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  display: block;
  color: #363e40;
}
.sep-page .sep-detail .single-event-time .event-date-time time {
  font-size: 16px;
  color: #ababab;
  margin-bottom: 15px;
  display: block;
}
.sep-page .sep-detail .event-venue {
  padding-bottom: 15px;
}
.sep-page .sep-detail .event-venue h3 {
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #363e40;
}
.sep-page .sep-detail .event-venue .event-info span {
  font-size: 16px;
}
.sep-page .sep-detail .single-segments {
  padding: 45px 0;
  border-bottom: 1px solid #e1e1e1;
}
.sep-page .sep-detail .single-segments h3 {
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #363e40;
}
.sep-page .sep-detail .single-segments .segments-style {
  padding-left: 15px;
}
.sep-page .sep-detail .single-segments .segments-style .item {
  color: #ababab;
  list-style-type: disc;
  margin-bottom: 5px;
  font-size: 16px;
}
.sep-page .sep-detail .event-description .event-title {
  float: left;
  width: 100%;
}
.sep-page .sep-detail .event-description .event-title h2 {
  font-size: 20px;
  color: #363e40;
  margin: 15px 0;
}
.sep-page .sep-detail .event-description .single-event-image {
  position: relative;
  float: left;
}
.sep-page .sep-detail .event-description .single-event-image .countdown {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 222;
  text-align: center;
}
.sep-page .sep-detail .event-description .single-event-image #countdownwrapp {
  padding: 10px 15px;
}
.sep-page .sep-detail .event-description .single-event-image #countdownwrapp .is-countdown {
  margin-top: 5px;
}
.sep-page .sep-detail .event-description .single-event-image .overlay-counter {
  background: #000;
  opacity: 0.5;
  padding: 37px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 000;
}
.sep-page .sep-detail .event-description .google-calendar-ical {
  margin-bottom: 15px;
  width: 100%;
  float: left;
}
@media (max-width: 768px) {
  .sep-page .sep-detail .event-description .google-calendar-ical {
    margin: 15px 0;
  }
}
.sep-page .sep-detail .event-description .google-calendar-ical a {
  display: inline;
}
.sep-page .sep-detail .event-description .google-calendar-ical a:after {
  content: "|";
  color: black;
  margin: 0px 5px;
}
.sep-page .sep-detail .event-description .google-calendar-ical a:last-child:after {
  content: "";
  color: black;
  margin: 0;
}
.sep-page .sep-detail .event-description .single-event-description p {
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 17px;
  text-align: left;
  font-size: 16px;
  color: #ababab;
}
